In [7]:
import pandas as pd

pd.set_option('display.max_rows',200)
pd.set_option('display.max_columns',10)
pd.set_option('display.width',1000)

In [8]:
df=pd.read_csv(r'C:\Users\RaghulRamesh\Downloads\18 - Day - 18 - Linear Regression Practise Python\18 - Day - 18 - Linear Regression Practise Python\company.csv')

In [9]:
df

                       Company   Age  Salary       Place
0                          TCS  20.0     NaN     Chennai
1                      Infosys  30.0     NaN      Mumbai
2                          TCS  35.0  2300.0    Calcutta
3                      Infosys  40.0  3000.0       Delhi
4                          TCS  23.0  4000.0      Mumbai
5                      Infosys   NaN  5000.0    Calcutta
6                          TCS   NaN  6000.0     Chennai
7                      Infosys  23.0  7000.0      Mumbai
8                          TCS  34.0  8000.0    Calcutta
9                          CTS  45.0  9000.0       Delhi
10                         CTS  23.0     NaN      Mumbai
11                         CTS  34.0  1089.0    Calcutta
12                         CTS  45.0     NaN     Chennai
13                         CTS  18.0  1234.0      Mumbai
14                     Infosys  40.0  3000.0    Calcutta
15                         TCS  23.0  3000.0       Delhi
16                     Infosys  23.0  3030.0  Podicherry
17                         TCS  34.0  5000.0      Cochin
18                         TCS  22.0     NaN     Chennai
19                     Infosys  32.0     NaN      Mumbai
20                         TCS  37.0  3045.0    Calcutta
21                     Infosys  50.0  3184.0       Delhi
22                         TCS  21.0  4824.0      Mumbai
23                     Infosys   NaN  5835.0      Cochin
24                         TCS   NaN  7084.0     Chennai
25                     Infosys  23.0  8943.0      Mumbai
26                         TCS  34.0  8345.0    Calcutta
27                         CTS  45.0  9284.0       Delhi
28                         CTS  23.0  9876.0      Mumbai
29                         CTS  35.0  2034.0      Cochin
30                         CTS  46.0  7654.0     Chennai
31                         CTS  20.0  2934.0      Mumbai
32                     Infosys  45.0  4034.0    Calcutta
33                         TCS  36.0  5034.0         NaN
34                     Infosys  26.0  8202.0         NaN
35                         TCS  35.0  9024.0         NaN
36                         TCS  32.0     NaN       Noida
37                         NaN  35.0     NaN   Hyderabad
38                         TCS  34.0  2300.0    Calcutta
39                     Infosys  41.0  3000.0      Mumbai
40                         TCS  24.0  4345.0    Calcutta
41                     Infosys   NaN  5000.0         NaN
42                         TCS   NaN  6000.0         NaN
43                     Infosys  25.0  7000.0         NaN
44                         TCS  35.0  8000.0       Noida
45                         CTS  46.0  9000.0   Hyderabad
46                         CTS  24.0     NaN    Calcutta
47                         CTS  32.0  1089.0      Mumbai
48                         CTS  43.0     NaN      Mumbai
49                         CTS  19.0  1234.0      Cochin
50                     Infosys  41.0  3000.0     Chennai
51                         NaN  24.0  3000.0      Mumbai
52                     Infosys  21.0  3030.0    Calcutta
53                         TCS  35.0  5000.0       Delhi
54                         TCS  21.0  6544.0      Mumbai
55                     Infosys  32.0  7654.0      Cochin
56                         TCS  38.0  3045.0       Noida
57                     Infosys  51.0  3184.0   Hyderabad
58                         TCS  23.0  4824.0    Calcutta
59                     Infosys   NaN  5835.0      Mumbai
60                         TCS   NaN  7084.0    Calcutta
61                         NaN  25.0  8943.0         NaN
62   Tata Consultancy Services  36.0  8345.0         NaN
63                         CTS  41.0  9284.0         NaN
64                         NaN  25.0  6543.0       Noida
65                         CTS  31.0  2034.0   Hyderabad
66                         CTS  41.0     NaN    Calcutta
67                  Congnizant  21.0  2934.0      Mumbai
68                     Infosys  43.0  4034.0      Mumbai
69                         TCS  32.0  5034.0      Cochin
70             Infosys Pvt Lmt  21.0  8202.0     Chennai
71                         TCS  34.0  9024.0      Mumbai
72                         TCS  24.0     NaN    Calcutta
73                     Infosys  34.0     NaN       Delhi
74                         TCS  37.0  2300.0      Mumbai
75                     Infosys  44.0  3000.0      Cochin
76                         TCS  32.0  4000.0       Noida
77                     Infosys   NaN  5000.0   Hyderabad
78                         TCS   NaN  6000.0    Calcutta
79                     Infosys  26.0  7000.0      Bhopal
80                         TCS  32.0  8000.0      Nagpur
81                         CTS  43.0  9000.0        Pune
82                         CTS  22.0     NaN        Pune
83                         CTS  33.0  1089.0     Chennai
84                         CTS  43.0     NaN      Mumbai
85                         CTS  17.0  1234.0    Calcutta
86                     Infosys  41.0  3000.0       Delhi
87                         TCS  21.0  3000.0      Mumbai
88                     Infosys   0.0  3030.0    Calcutta
89                         TCS  36.0  5000.0     Chennai
90                         TCS  21.0     NaN      Mumbai
91                     Infosys  34.0     NaN    Calcutta
92                         TCS   0.0  3045.0       Delhi
93                     Infosys  54.0  3184.0      Mumbai
94                         TCS  22.0  4824.0    Calcutta
95                     Infosys   NaN  5835.0     Chennai
96                         TCS   NaN  7084.0      Mumbai
97                     Infosys  22.0  8943.0    Calcutta
98                         TCS  33.0  8345.0       Delhi
99                         CTS  44.0  9284.0  Podicherry
100                        CTS  22.0     NaN      Cochin
101                        CTS   0.0  2034.0  Podicherry
102                        CTS  44.0     NaN      Mumbai
103                        CTS  22.0  2934.0    Calcutta
104                    Infosys  44.0  4034.0       Delhi
105                        TCS  33.0  5034.0      Mumbai
106                    Infosys  22.0  8202.0      Cochin
107                        TCS   0.0  9024.0     Chennai
108                        TCS  33.0     NaN      Mumbai
109                        NaN  33.0     NaN    Calcutta
110                        TCS  33.0  2300.0       Delhi
111                    Infosys   0.0  3234.0      Mumbai
112                        TCS  22.0  4324.0      Cochin
113                    Infosys   NaN  5435.0     Chennai
114                        TCS   NaN  5555.0      Mumbai
115                    Infosys  22.0  8787.0    Calcutta
116                        TCS  33.0  8787.0         NaN
117                        CTS  44.0  9876.0         NaN
118                        CTS  22.0     NaN         NaN
119                        CTS  33.0  1089.0       Noida
120                        CTS  44.0     NaN   Hyderabad
121                        CTS   0.0  1234.0    Calcutta
122                    Infosys  44.0  3234.0      Mumbai
123                        NaN   NaN  3454.0    Calcutta
124                    Infosys  22.0  8787.0    Calcutta
125                        TCS  33.0  5654.0         NaN
126                        TCS  20.0  5009.0         NaN
127                    Infosys  30.0  5098.0       Noida
128                        TCS  33.0  3045.0   Hyderabad
129                    Infosys  50.0  3184.0    Calcutta
130                        TCS  21.0  4824.0      Mumbai
131                    Infosys   NaN  5835.0      Mumbai
132                        TCS   NaN  7084.0      Cochin
133                        NaN  22.0  8943.0     Chennai
134  Tata Consultancy Services  31.0  8345.0      Mumbai
135                        CTS  40.0  9284.0    Calcutta
136                        NaN   NaN     NaN       Delhi
137                        CTS  31.0  2034.0      Mumbai
138                        CTS  44.0  3033.0      Cochin
139                 Congnizant  22.0  2934.0       Noida
140                    Infosys  44.0  4034.0   Hyderabad
141                        TCS  33.0  5034.0    Calcutta
142            Infosys Pvt Lmt  22.0  8202.0      Mumbai
143                        TCS  33.0  9024.0    Calcutta
144                    Infosys  22.0  8787.0    Calcutta
145                    Infosys  44.0  4034.0       Delhi
146                        TCS  33.0  5034.0      Mumbai
147                    Infosys  22.0  8202.0      Cochin

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Company  140 non-null    object
 1   Age      130 non-null    float64
 2   Salary   124 non-null    float64
 3   Place    134 non-null    object
dtypes: float64(2), object(2)
memory usage: 4.8+ KB

In [13]:
df.describe()

              Age       Salary
count  130.000000   124.000000
mean    30.484615  5312.467742
std     11.096640  2573.764683
min      0.000000  1089.000000
25%     22.000000  3030.000000
50%     32.500000  5000.000000
75%     37.750000  8000.000000
max     54.000000  9876.000000

In [14]:
df.head()

   Company   Age  Salary     Place
0      TCS  20.0     NaN   Chennai
1  Infosys  30.0     NaN    Mumbai
2      TCS  35.0  2300.0  Calcutta
3  Infosys  40.0  3000.0     Delhi
4      TCS  23.0  4000.0    Mumbai

In [15]:
df.tail()

     Company   Age  Salary     Place
143      TCS  33.0  9024.0  Calcutta
144  Infosys  22.0  8787.0  Calcutta
145  Infosys  44.0  4034.0     Delhi
146      TCS  33.0  5034.0    Mumbai
147  Infosys  22.0  8202.0    Cochin

In [17]:
df.head(15)

    Company   Age  Salary     Place
0       TCS  20.0     NaN   Chennai
1   Infosys  30.0     NaN    Mumbai
2       TCS  35.0  2300.0  Calcutta
3   Infosys  40.0  3000.0     Delhi
4       TCS  23.0  4000.0    Mumbai
5   Infosys   NaN  5000.0  Calcutta
6       TCS   NaN  6000.0   Chennai
7   Infosys  23.0  7000.0    Mumbai
8       TCS  34.0  8000.0  Calcutta
9       CTS  45.0  9000.0     Delhi
10      CTS  23.0     NaN    Mumbai
11      CTS  34.0  1089.0  Calcutta
12      CTS  45.0     NaN   Chennai
13      CTS  18.0  1234.0    Mumbai
14  Infosys  40.0  3000.0  Calcutta

In [18]:
df.tail(10)

             Company   Age  Salary      Place
138              CTS  44.0  3033.0     Cochin
139       Congnizant  22.0  2934.0      Noida
140          Infosys  44.0  4034.0  Hyderabad
141              TCS  33.0  5034.0   Calcutta
142  Infosys Pvt Lmt  22.0  8202.0     Mumbai
143              TCS  33.0  9024.0   Calcutta
144          Infosys  22.0  8787.0   Calcutta
145          Infosys  44.0  4034.0      Delhi
146              TCS  33.0  5034.0     Mumbai
147          Infosys  22.0  8202.0     Cochin

In [19]:
df.columns

Index(['Company', 'Age', 'Salary', 'Place'], dtype='object')

In [21]:
df['Company'].value_counts()

TCS                          53
Infosys                      45
CTS                          36
Tata Consultancy Services     2
Congnizant                    2
Infosys Pvt Lmt               2
Name: Company, dtype: int64

In [24]:
df['Company'].replace({'Tata Consultancy Services':'TCS','Infosys Pvt Lmt':'Infosys','Congnizant':'CTS'}, inplace=True)

In [25]:
df['Company'].value_counts()

TCS        55
Infosys    47
CTS        38
Name: Company, dtype: int64

In [27]:
df['Company'].isnull().sum()

8

In [29]:
df['Company'].mode()[0]

'TCS'

In [31]:
df['Company'].fillna(df['Company'].mode()[0],inplace=True)

In [32]:
df['Company'].isnull().sum()

0

In [33]:
df['Company'].value_counts()

TCS        63
Infosys    47
CTS        38
Name: Company, dtype: int64

In [36]:
df.columns

Index(['Company', 'Age', 'Salary', 'Place'], dtype='object')

In [40]:
df['Age'].isnull().sum()

18

In [41]:
df['Age'].mean()

30.484615384615385

In [44]:
df['Age'].fillna(df['Age'].mean(), inplace=True)

In [45]:
df['Age'].isnull().sum()

0

In [46]:
df['Age']

0      20.000000
1      30.000000
2      35.000000
3      40.000000
4      23.000000
5      30.484615
6      30.484615
7      23.000000
8      34.000000
9      45.000000
10     23.000000
11     34.000000
12     45.000000
13     18.000000
14     40.000000
15     23.000000
16     23.000000
17     34.000000
18     22.000000
19     32.000000
20     37.000000
21     50.000000
22     21.000000
23     30.484615
24     30.484615
25     23.000000
26     34.000000
27     45.000000
28     23.000000
29     35.000000
30     46.000000
31     20.000000
32     45.000000
33     36.000000
34     26.000000
35     35.000000
36     32.000000
37     35.000000
38     34.000000
39     41.000000
40     24.000000
41     30.484615
42     30.484615
43     25.000000
44     35.000000
45     46.000000
46     24.000000
47     32.000000
48     43.000000
49     19.000000
50     41.000000
51     24.000000
52     21.000000
53     35.000000
54     21.000000
55     32.000000
56     38.000000
57     51.000000
58     23.000000
59     30.484615
60     30.484615
61     25.000000
62     36.000000
63     41.000000
64     25.000000
65     31.000000
66     41.000000
67     21.000000
68     43.000000
69     32.000000
70     21.000000
71     34.000000
72     24.000000
73     34.000000
74     37.000000
75     44.000000
76     32.000000
77     30.484615
78     30.484615
79     26.000000
80     32.000000
81     43.000000
82     22.000000
83     33.000000
84     43.000000
85     17.000000
86     41.000000
87     21.000000
88      0.000000
89     36.000000
90     21.000000
91     34.000000
92      0.000000
93     54.000000
94     22.000000
95     30.484615
96     30.484615
97     22.000000
98     33.000000
99     44.000000
100    22.000000
101     0.000000
102    44.000000
103    22.000000
104    44.000000
105    33.000000
106    22.000000
107     0.000000
108    33.000000
109    33.000000
110    33.000000
111     0.000000
112    22.000000
113    30.484615
114    30.484615
115    22.000000
116    33.000000
117    44.000000
118    22.000000
119    33.000000
120    44.000000
121     0.000000
122    44.000000
123    30.484615
124    22.000000
125    33.000000
126    20.000000
127    30.000000
128    33.000000
129    50.000000
130    21.000000
131    30.484615
132    30.484615
133    22.000000
134    31.000000
135    40.000000
136    30.484615
137    31.000000
138    44.000000
139    22.000000
140    44.000000
141    33.000000
142    22.000000
143    33.000000
144    22.000000
145    44.000000
146    33.000000
147    22.000000
Name: Age, dtype: float64

In [48]:
df['Salary'].isnull().sum()

24

In [49]:
df['Salary'].min()

1089.0

In [52]:
df['Salary'].fillna(1111, inplace=True)

In [53]:
df['Salary'].isnull().sum()

0

In [54]:
df['Place'].value_counts()

Mumbai        37
Calcutta      33
Chennai       14
Delhi         14
Cochin        13
Noida          8
Hyderabad      8
Podicherry     3
Pune           2
Bhopal         1
Nagpur         1
Name: Place, dtype: int64

In [55]:
df['Place'].isnull().sum()

14

In [56]:
df['Place'].fillna('Lucknow',inplace=True)

In [57]:
df['Place']

0         Chennai
1          Mumbai
2        Calcutta
3           Delhi
4          Mumbai
5        Calcutta
6         Chennai
7          Mumbai
8        Calcutta
9           Delhi
10         Mumbai
11       Calcutta
12        Chennai
13         Mumbai
14       Calcutta
15          Delhi
16     Podicherry
17         Cochin
18        Chennai
19         Mumbai
20       Calcutta
21          Delhi
22         Mumbai
23         Cochin
24        Chennai
25         Mumbai
26       Calcutta
27          Delhi
28         Mumbai
29         Cochin
30        Chennai
31         Mumbai
32       Calcutta
33        Lucknow
34        Lucknow
35        Lucknow
36          Noida
37      Hyderabad
38       Calcutta
39         Mumbai
40       Calcutta
41        Lucknow
42        Lucknow
43        Lucknow
44          Noida
45      Hyderabad
46       Calcutta
47         Mumbai
48         Mumbai
49         Cochin
50        Chennai
51         Mumbai
52       Calcutta
53          Delhi
54         Mumbai
55         Cochin
56          Noida
57      Hyderabad
58       Calcutta
59         Mumbai
60       Calcutta
61        Lucknow
62        Lucknow
63        Lucknow
64          Noida
65      Hyderabad
66       Calcutta
67         Mumbai
68         Mumbai
69         Cochin
70        Chennai
71         Mumbai
72       Calcutta
73          Delhi
74         Mumbai
75         Cochin
76          Noida
77      Hyderabad
78       Calcutta
79         Bhopal
80         Nagpur
81           Pune
82           Pune
83        Chennai
84         Mumbai
85       Calcutta
86          Delhi
87         Mumbai
88       Calcutta
89        Chennai
90         Mumbai
91       Calcutta
92          Delhi
93         Mumbai
94       Calcutta
95        Chennai
96         Mumbai
97       Calcutta
98          Delhi
99     Podicherry
100        Cochin
101    Podicherry
102        Mumbai
103      Calcutta
104         Delhi
105        Mumbai
106        Cochin
107       Chennai
108        Mumbai
109      Calcutta
110         Delhi
111        Mumbai
112        Cochin
113       Chennai
114        Mumbai
115      Calcutta
116       Lucknow
117       Lucknow
118       Lucknow
119         Noida
120     Hyderabad
121      Calcutta
122        Mumbai
123      Calcutta
124      Calcutta
125       Lucknow
126       Lucknow
127         Noida
128     Hyderabad
129      Calcutta
130        Mumbai
131        Mumbai
132        Cochin
133       Chennai
134        Mumbai
135      Calcutta
136         Delhi
137        Mumbai
138        Cochin
139         Noida
140     Hyderabad
141      Calcutta
142        Mumbai
143      Calcutta
144      Calcutta
145         Delhi
146        Mumbai
147        Cochin
Name: Place, dtype: object

In [58]:
df

     Company        Age  Salary       Place
0        TCS  20.000000  1111.0     Chennai
1    Infosys  30.000000  1111.0      Mumbai
2        TCS  35.000000  2300.0    Calcutta
3    Infosys  40.000000  3000.0       Delhi
4        TCS  23.000000  4000.0      Mumbai
5    Infosys  30.484615  5000.0    Calcutta
6        TCS  30.484615  6000.0     Chennai
7    Infosys  23.000000  7000.0      Mumbai
8        TCS  34.000000  8000.0    Calcutta
9        CTS  45.000000  9000.0       Delhi
10       CTS  23.000000  1111.0      Mumbai
11       CTS  34.000000  1089.0    Calcutta
12       CTS  45.000000  1111.0     Chennai
13       CTS  18.000000  1234.0      Mumbai
14   Infosys  40.000000  3000.0    Calcutta
15       TCS  23.000000  3000.0       Delhi
16   Infosys  23.000000  3030.0  Podicherry
17       TCS  34.000000  5000.0      Cochin
18       TCS  22.000000  1111.0     Chennai
19   Infosys  32.000000  1111.0      Mumbai
20       TCS  37.000000  3045.0    Calcutta
21   Infosys  50.000000  3184.0       Delhi
22       TCS  21.000000  4824.0      Mumbai
23   Infosys  30.484615  5835.0      Cochin
24       TCS  30.484615  7084.0     Chennai
25   Infosys  23.000000  8943.0      Mumbai
26       TCS  34.000000  8345.0    Calcutta
27       CTS  45.000000  9284.0       Delhi
28       CTS  23.000000  9876.0      Mumbai
29       CTS  35.000000  2034.0      Cochin
30       CTS  46.000000  7654.0     Chennai
31       CTS  20.000000  2934.0      Mumbai
32   Infosys  45.000000  4034.0    Calcutta
33       TCS  36.000000  5034.0     Lucknow
34   Infosys  26.000000  8202.0     Lucknow
35       TCS  35.000000  9024.0     Lucknow
36       TCS  32.000000  1111.0       Noida
37       TCS  35.000000  1111.0   Hyderabad
38       TCS  34.000000  2300.0    Calcutta
39   Infosys  41.000000  3000.0      Mumbai
40       TCS  24.000000  4345.0    Calcutta
41   Infosys  30.484615  5000.0     Lucknow
42       TCS  30.484615  6000.0     Lucknow
43   Infosys  25.000000  7000.0     Lucknow
44       TCS  35.000000  8000.0       Noida
45       CTS  46.000000  9000.0   Hyderabad
46       CTS  24.000000  1111.0    Calcutta
47       CTS  32.000000  1089.0      Mumbai
48       CTS  43.000000  1111.0      Mumbai
49       CTS  19.000000  1234.0      Cochin
50   Infosys  41.000000  3000.0     Chennai
51       TCS  24.000000  3000.0      Mumbai
52   Infosys  21.000000  3030.0    Calcutta
53       TCS  35.000000  5000.0       Delhi
54       TCS  21.000000  6544.0      Mumbai
55   Infosys  32.000000  7654.0      Cochin
56       TCS  38.000000  3045.0       Noida
57   Infosys  51.000000  3184.0   Hyderabad
58       TCS  23.000000  4824.0    Calcutta
59   Infosys  30.484615  5835.0      Mumbai
60       TCS  30.484615  7084.0    Calcutta
61       TCS  25.000000  8943.0     Lucknow
62       TCS  36.000000  8345.0     Lucknow
63       CTS  41.000000  9284.0     Lucknow
64       TCS  25.000000  6543.0       Noida
65       CTS  31.000000  2034.0   Hyderabad
66       CTS  41.000000  1111.0    Calcutta
67       CTS  21.000000  2934.0      Mumbai
68   Infosys  43.000000  4034.0      Mumbai
69       TCS  32.000000  5034.0      Cochin
70   Infosys  21.000000  8202.0     Chennai
71       TCS  34.000000  9024.0      Mumbai
72       TCS  24.000000  1111.0    Calcutta
73   Infosys  34.000000  1111.0       Delhi
74       TCS  37.000000  2300.0      Mumbai
75   Infosys  44.000000  3000.0      Cochin
76       TCS  32.000000  4000.0       Noida
77   Infosys  30.484615  5000.0   Hyderabad
78       TCS  30.484615  6000.0    Calcutta
79   Infosys  26.000000  7000.0      Bhopal
80       TCS  32.000000  8000.0      Nagpur
81       CTS  43.000000  9000.0        Pune
82       CTS  22.000000  1111.0        Pune
83       CTS  33.000000  1089.0     Chennai
84       CTS  43.000000  1111.0      Mumbai
85       CTS  17.000000  1234.0    Calcutta
86   Infosys  41.000000  3000.0       Delhi
87       TCS  21.000000  3000.0      Mumbai
88   Infosys   0.000000  3030.0    Calcutta
89       TCS  36.000000  5000.0     Chennai
90       TCS  21.000000  1111.0      Mumbai
91   Infosys  34.000000  1111.0    Calcutta
92       TCS   0.000000  3045.0       Delhi
93   Infosys  54.000000  3184.0      Mumbai
94       TCS  22.000000  4824.0    Calcutta
95   Infosys  30.484615  5835.0     Chennai
96       TCS  30.484615  7084.0      Mumbai
97   Infosys  22.000000  8943.0    Calcutta
98       TCS  33.000000  8345.0       Delhi
99       CTS  44.000000  9284.0  Podicherry
100      CTS  22.000000  1111.0      Cochin
101      CTS   0.000000  2034.0  Podicherry
102      CTS  44.000000  1111.0      Mumbai
103      CTS  22.000000  2934.0    Calcutta
104  Infosys  44.000000  4034.0       Delhi
105      TCS  33.000000  5034.0      Mumbai
106  Infosys  22.000000  8202.0      Cochin
107      TCS   0.000000  9024.0     Chennai
108      TCS  33.000000  1111.0      Mumbai
109      TCS  33.000000  1111.0    Calcutta
110      TCS  33.000000  2300.0       Delhi
111  Infosys   0.000000  3234.0      Mumbai
112      TCS  22.000000  4324.0      Cochin
113  Infosys  30.484615  5435.0     Chennai
114      TCS  30.484615  5555.0      Mumbai
115  Infosys  22.000000  8787.0    Calcutta
116      TCS  33.000000  8787.0     Lucknow
117      CTS  44.000000  9876.0     Lucknow
118      CTS  22.000000  1111.0     Lucknow
119      CTS  33.000000  1089.0       Noida
120      CTS  44.000000  1111.0   Hyderabad
121      CTS   0.000000  1234.0    Calcutta
122  Infosys  44.000000  3234.0      Mumbai
123      TCS  30.484615  3454.0    Calcutta
124  Infosys  22.000000  8787.0    Calcutta
125      TCS  33.000000  5654.0     Lucknow
126      TCS  20.000000  5009.0     Lucknow
127  Infosys  30.000000  5098.0       Noida
128      TCS  33.000000  3045.0   Hyderabad
129  Infosys  50.000000  3184.0    Calcutta
130      TCS  21.000000  4824.0      Mumbai
131  Infosys  30.484615  5835.0      Mumbai
132      TCS  30.484615  7084.0      Cochin
133      TCS  22.000000  8943.0     Chennai
134      TCS  31.000000  8345.0      Mumbai
135      CTS  40.000000  9284.0    Calcutta
136      TCS  30.484615  1111.0       Delhi
137      CTS  31.000000  2034.0      Mumbai
138      CTS  44.000000  3033.0      Cochin
139      CTS  22.000000  2934.0       Noida
140  Infosys  44.000000  4034.0   Hyderabad
141      TCS  33.000000  5034.0    Calcutta
142  Infosys  22.000000  8202.0      Mumbai
143      TCS  33.000000  9024.0    Calcutta
144  Infosys  22.000000  8787.0    Calcutta
145  Infosys  44.000000  4034.0       Delhi
146      TCS  33.000000  5034.0      Mumbai
147  Infosys  22.000000  8202.0      Cochin

In [59]:
df

     Company        Age  Salary       Place
0        TCS  20.000000  1111.0     Chennai
1    Infosys  30.000000  1111.0      Mumbai
2        TCS  35.000000  2300.0    Calcutta
3    Infosys  40.000000  3000.0       Delhi
4        TCS  23.000000  4000.0      Mumbai
5    Infosys  30.484615  5000.0    Calcutta
6        TCS  30.484615  6000.0     Chennai
7    Infosys  23.000000  7000.0      Mumbai
8        TCS  34.000000  8000.0    Calcutta
9        CTS  45.000000  9000.0       Delhi
10       CTS  23.000000  1111.0      Mumbai
11       CTS  34.000000  1089.0    Calcutta
12       CTS  45.000000  1111.0     Chennai
13       CTS  18.000000  1234.0      Mumbai
14   Infosys  40.000000  3000.0    Calcutta
15       TCS  23.000000  3000.0       Delhi
16   Infosys  23.000000  3030.0  Podicherry
17       TCS  34.000000  5000.0      Cochin
18       TCS  22.000000  1111.0     Chennai
19   Infosys  32.000000  1111.0      Mumbai
20       TCS  37.000000  3045.0    Calcutta
21   Infosys  50.000000  3184.0       Delhi
22       TCS  21.000000  4824.0      Mumbai
23   Infosys  30.484615  5835.0      Cochin
24       TCS  30.484615  7084.0     Chennai
25   Infosys  23.000000  8943.0      Mumbai
26       TCS  34.000000  8345.0    Calcutta
27       CTS  45.000000  9284.0       Delhi
28       CTS  23.000000  9876.0      Mumbai
29       CTS  35.000000  2034.0      Cochin
30       CTS  46.000000  7654.0     Chennai
31       CTS  20.000000  2934.0      Mumbai
32   Infosys  45.000000  4034.0    Calcutta
33       TCS  36.000000  5034.0     Lucknow
34   Infosys  26.000000  8202.0     Lucknow
35       TCS  35.000000  9024.0     Lucknow
36       TCS  32.000000  1111.0       Noida
37       TCS  35.000000  1111.0   Hyderabad
38       TCS  34.000000  2300.0    Calcutta
39   Infosys  41.000000  3000.0      Mumbai
40       TCS  24.000000  4345.0    Calcutta
41   Infosys  30.484615  5000.0     Lucknow
42       TCS  30.484615  6000.0     Lucknow
43   Infosys  25.000000  7000.0     Lucknow
44       TCS  35.000000  8000.0       Noida
45       CTS  46.000000  9000.0   Hyderabad
46       CTS  24.000000  1111.0    Calcutta
47       CTS  32.000000  1089.0      Mumbai
48       CTS  43.000000  1111.0      Mumbai
49       CTS  19.000000  1234.0      Cochin
50   Infosys  41.000000  3000.0     Chennai
51       TCS  24.000000  3000.0      Mumbai
52   Infosys  21.000000  3030.0    Calcutta
53       TCS  35.000000  5000.0       Delhi
54       TCS  21.000000  6544.0      Mumbai
55   Infosys  32.000000  7654.0      Cochin
56       TCS  38.000000  3045.0       Noida
57   Infosys  51.000000  3184.0   Hyderabad
58       TCS  23.000000  4824.0    Calcutta
59   Infosys  30.484615  5835.0      Mumbai
60       TCS  30.484615  7084.0    Calcutta
61       TCS  25.000000  8943.0     Lucknow
62       TCS  36.000000  8345.0     Lucknow
63       CTS  41.000000  9284.0     Lucknow
64       TCS  25.000000  6543.0       Noida
65       CTS  31.000000  2034.0   Hyderabad
66       CTS  41.000000  1111.0    Calcutta
67       CTS  21.000000  2934.0      Mumbai
68   Infosys  43.000000  4034.0      Mumbai
69       TCS  32.000000  5034.0      Cochin
70   Infosys  21.000000  8202.0     Chennai
71       TCS  34.000000  9024.0      Mumbai
72       TCS  24.000000  1111.0    Calcutta
73   Infosys  34.000000  1111.0       Delhi
74       TCS  37.000000  2300.0      Mumbai
75   Infosys  44.000000  3000.0      Cochin
76       TCS  32.000000  4000.0       Noida
77   Infosys  30.484615  5000.0   Hyderabad
78       TCS  30.484615  6000.0    Calcutta
79   Infosys  26.000000  7000.0      Bhopal
80       TCS  32.000000  8000.0      Nagpur
81       CTS  43.000000  9000.0        Pune
82       CTS  22.000000  1111.0        Pune
83       CTS  33.000000  1089.0     Chennai
84       CTS  43.000000  1111.0      Mumbai
85       CTS  17.000000  1234.0    Calcutta
86   Infosys  41.000000  3000.0       Delhi
87       TCS  21.000000  3000.0      Mumbai
88   Infosys   0.000000  3030.0    Calcutta
89       TCS  36.000000  5000.0     Chennai
90       TCS  21.000000  1111.0      Mumbai
91   Infosys  34.000000  1111.0    Calcutta
92       TCS   0.000000  3045.0       Delhi
93   Infosys  54.000000  3184.0      Mumbai
94       TCS  22.000000  4824.0    Calcutta
95   Infosys  30.484615  5835.0     Chennai
96       TCS  30.484615  7084.0      Mumbai
97   Infosys  22.000000  8943.0    Calcutta
98       TCS  33.000000  8345.0       Delhi
99       CTS  44.000000  9284.0  Podicherry
100      CTS  22.000000  1111.0      Cochin
101      CTS   0.000000  2034.0  Podicherry
102      CTS  44.000000  1111.0      Mumbai
103      CTS  22.000000  2934.0    Calcutta
104  Infosys  44.000000  4034.0       Delhi
105      TCS  33.000000  5034.0      Mumbai
106  Infosys  22.000000  8202.0      Cochin
107      TCS   0.000000  9024.0     Chennai
108      TCS  33.000000  1111.0      Mumbai
109      TCS  33.000000  1111.0    Calcutta
110      TCS  33.000000  2300.0       Delhi
111  Infosys   0.000000  3234.0      Mumbai
112      TCS  22.000000  4324.0      Cochin
113  Infosys  30.484615  5435.0     Chennai
114      TCS  30.484615  5555.0      Mumbai
115  Infosys  22.000000  8787.0    Calcutta
116      TCS  33.000000  8787.0     Lucknow
117      CTS  44.000000  9876.0     Lucknow
118      CTS  22.000000  1111.0     Lucknow
119      CTS  33.000000  1089.0       Noida
120      CTS  44.000000  1111.0   Hyderabad
121      CTS   0.000000  1234.0    Calcutta
122  Infosys  44.000000  3234.0      Mumbai
123      TCS  30.484615  3454.0    Calcutta
124  Infosys  22.000000  8787.0    Calcutta
125      TCS  33.000000  5654.0     Lucknow
126      TCS  20.000000  5009.0     Lucknow
127  Infosys  30.000000  5098.0       Noida
128      TCS  33.000000  3045.0   Hyderabad
129  Infosys  50.000000  3184.0    Calcutta
130      TCS  21.000000  4824.0      Mumbai
131  Infosys  30.484615  5835.0      Mumbai
132      TCS  30.484615  7084.0      Cochin
133      TCS  22.000000  8943.0     Chennai
134      TCS  31.000000  8345.0      Mumbai
135      CTS  40.000000  9284.0    Calcutta
136      TCS  30.484615  1111.0       Delhi
137      CTS  31.000000  2034.0      Mumbai
138      CTS  44.000000  3033.0      Cochin
139      CTS  22.000000  2934.0       Noida
140  Infosys  44.000000  4034.0   Hyderabad
141      TCS  33.000000  5034.0    Calcutta
142  Infosys  22.000000  8202.0      Mumbai
143      TCS  33.000000  9024.0    Calcutta
144  Infosys  22.000000  8787.0    Calcutta
145  Infosys  44.000000  4034.0       Delhi
146      TCS  33.000000  5034.0      Mumbai
147  Infosys  22.000000  8202.0      Cochin

In [62]:
df.iloc[0:10,0:3]

   Company        Age  Salary
0      TCS  20.000000  1111.0
1  Infosys  30.000000  1111.0
2      TCS  35.000000  2300.0
3  Infosys  40.000000  3000.0
4      TCS  23.000000  4000.0
5  Infosys  30.484615  5000.0
6      TCS  30.484615  6000.0
7  Infosys  23.000000  7000.0
8      TCS  34.000000  8000.0
9      CTS  45.000000  9000.0

In [64]:
df.iloc[100:110,:]

     Company   Age  Salary       Place
100      CTS  22.0  1111.0      Cochin
101      CTS   0.0  2034.0  Podicherry
102      CTS  44.0  1111.0      Mumbai
103      CTS  22.0  2934.0    Calcutta
104  Infosys  44.0  4034.0       Delhi
105      TCS  33.0  5034.0      Mumbai
106  Infosys  22.0  8202.0      Cochin
107      TCS   0.0  9024.0     Chennai
108      TCS  33.0  1111.0      Mumbai
109      TCS  33.0  1111.0    Calcutta

In [65]:
df.loc[0:10,['Place','Company','Salary']]

       Place  Company  Salary
0    Chennai      TCS  1111.0
1     Mumbai  Infosys  1111.0
2   Calcutta      TCS  2300.0
3      Delhi  Infosys  3000.0
4     Mumbai      TCS  4000.0
5   Calcutta  Infosys  5000.0
6    Chennai      TCS  6000.0
7     Mumbai  Infosys  7000.0
8   Calcutta      TCS  8000.0
9      Delhi      CTS  9000.0
10    Mumbai      CTS  1111.0

# null data handlings

In [67]:
df.dropna()

     Company        Age  Salary       Place
0        TCS  20.000000  1111.0     Chennai
1    Infosys  30.000000  1111.0      Mumbai
2        TCS  35.000000  2300.0    Calcutta
3    Infosys  40.000000  3000.0       Delhi
4        TCS  23.000000  4000.0      Mumbai
5    Infosys  30.484615  5000.0    Calcutta
6        TCS  30.484615  6000.0     Chennai
7    Infosys  23.000000  7000.0      Mumbai
8        TCS  34.000000  8000.0    Calcutta
9        CTS  45.000000  9000.0       Delhi
10       CTS  23.000000  1111.0      Mumbai
11       CTS  34.000000  1089.0    Calcutta
12       CTS  45.000000  1111.0     Chennai
13       CTS  18.000000  1234.0      Mumbai
14   Infosys  40.000000  3000.0    Calcutta
15       TCS  23.000000  3000.0       Delhi
16   Infosys  23.000000  3030.0  Podicherry
17       TCS  34.000000  5000.0      Cochin
18       TCS  22.000000  1111.0     Chennai
19   Infosys  32.000000  1111.0      Mumbai
20       TCS  37.000000  3045.0    Calcutta
21   Infosys  50.000000  3184.0       Delhi
22       TCS  21.000000  4824.0      Mumbai
23   Infosys  30.484615  5835.0      Cochin
24       TCS  30.484615  7084.0     Chennai
25   Infosys  23.000000  8943.0      Mumbai
26       TCS  34.000000  8345.0    Calcutta
27       CTS  45.000000  9284.0       Delhi
28       CTS  23.000000  9876.0      Mumbai
29       CTS  35.000000  2034.0      Cochin
30       CTS  46.000000  7654.0     Chennai
31       CTS  20.000000  2934.0      Mumbai
32   Infosys  45.000000  4034.0    Calcutta
33       TCS  36.000000  5034.0     Lucknow
34   Infosys  26.000000  8202.0     Lucknow
35       TCS  35.000000  9024.0     Lucknow
36       TCS  32.000000  1111.0       Noida
37       TCS  35.000000  1111.0   Hyderabad
38       TCS  34.000000  2300.0    Calcutta
39   Infosys  41.000000  3000.0      Mumbai
40       TCS  24.000000  4345.0    Calcutta
41   Infosys  30.484615  5000.0     Lucknow
42       TCS  30.484615  6000.0     Lucknow
43   Infosys  25.000000  7000.0     Lucknow
44       TCS  35.000000  8000.0       Noida
45       CTS  46.000000  9000.0   Hyderabad
46       CTS  24.000000  1111.0    Calcutta
47       CTS  32.000000  1089.0      Mumbai
48       CTS  43.000000  1111.0      Mumbai
49       CTS  19.000000  1234.0      Cochin
50   Infosys  41.000000  3000.0     Chennai
51       TCS  24.000000  3000.0      Mumbai
52   Infosys  21.000000  3030.0    Calcutta
53       TCS  35.000000  5000.0       Delhi
54       TCS  21.000000  6544.0      Mumbai
55   Infosys  32.000000  7654.0      Cochin
56       TCS  38.000000  3045.0       Noida
57   Infosys  51.000000  3184.0   Hyderabad
58       TCS  23.000000  4824.0    Calcutta
59   Infosys  30.484615  5835.0      Mumbai
60       TCS  30.484615  7084.0    Calcutta
61       TCS  25.000000  8943.0     Lucknow
62       TCS  36.000000  8345.0     Lucknow
63       CTS  41.000000  9284.0     Lucknow
64       TCS  25.000000  6543.0       Noida
65       CTS  31.000000  2034.0   Hyderabad
66       CTS  41.000000  1111.0    Calcutta
67       CTS  21.000000  2934.0      Mumbai
68   Infosys  43.000000  4034.0      Mumbai
69       TCS  32.000000  5034.0      Cochin
70   Infosys  21.000000  8202.0     Chennai
71       TCS  34.000000  9024.0      Mumbai
72       TCS  24.000000  1111.0    Calcutta
73   Infosys  34.000000  1111.0       Delhi
74       TCS  37.000000  2300.0      Mumbai
75   Infosys  44.000000  3000.0      Cochin
76       TCS  32.000000  4000.0       Noida
77   Infosys  30.484615  5000.0   Hyderabad
78       TCS  30.484615  6000.0    Calcutta
79   Infosys  26.000000  7000.0      Bhopal
80       TCS  32.000000  8000.0      Nagpur
81       CTS  43.000000  9000.0        Pune
82       CTS  22.000000  1111.0        Pune
83       CTS  33.000000  1089.0     Chennai
84       CTS  43.000000  1111.0      Mumbai
85       CTS  17.000000  1234.0    Calcutta
86   Infosys  41.000000  3000.0       Delhi
87       TCS  21.000000  3000.0      Mumbai
88   Infosys   0.000000  3030.0    Calcutta
89       TCS  36.000000  5000.0     Chennai
90       TCS  21.000000  1111.0      Mumbai
91   Infosys  34.000000  1111.0    Calcutta
92       TCS   0.000000  3045.0       Delhi
93   Infosys  54.000000  3184.0      Mumbai
94       TCS  22.000000  4824.0    Calcutta
95   Infosys  30.484615  5835.0     Chennai
96       TCS  30.484615  7084.0      Mumbai
97   Infosys  22.000000  8943.0    Calcutta
98       TCS  33.000000  8345.0       Delhi
99       CTS  44.000000  9284.0  Podicherry
100      CTS  22.000000  1111.0      Cochin
101      CTS   0.000000  2034.0  Podicherry
102      CTS  44.000000  1111.0      Mumbai
103      CTS  22.000000  2934.0    Calcutta
104  Infosys  44.000000  4034.0       Delhi
105      TCS  33.000000  5034.0      Mumbai
106  Infosys  22.000000  8202.0      Cochin
107      TCS   0.000000  9024.0     Chennai
108      TCS  33.000000  1111.0      Mumbai
109      TCS  33.000000  1111.0    Calcutta
110      TCS  33.000000  2300.0       Delhi
111  Infosys   0.000000  3234.0      Mumbai
112      TCS  22.000000  4324.0      Cochin
113  Infosys  30.484615  5435.0     Chennai
114      TCS  30.484615  5555.0      Mumbai
115  Infosys  22.000000  8787.0    Calcutta
116      TCS  33.000000  8787.0     Lucknow
117      CTS  44.000000  9876.0     Lucknow
118      CTS  22.000000  1111.0     Lucknow
119      CTS  33.000000  1089.0       Noida
120      CTS  44.000000  1111.0   Hyderabad
121      CTS   0.000000  1234.0    Calcutta
122  Infosys  44.000000  3234.0      Mumbai
123      TCS  30.484615  3454.0    Calcutta
124  Infosys  22.000000  8787.0    Calcutta
125      TCS  33.000000  5654.0     Lucknow
126      TCS  20.000000  5009.0     Lucknow
127  Infosys  30.000000  5098.0       Noida
128      TCS  33.000000  3045.0   Hyderabad
129  Infosys  50.000000  3184.0    Calcutta
130      TCS  21.000000  4824.0      Mumbai
131  Infosys  30.484615  5835.0      Mumbai
132      TCS  30.484615  7084.0      Cochin
133      TCS  22.000000  8943.0     Chennai
134      TCS  31.000000  8345.0      Mumbai
135      CTS  40.000000  9284.0    Calcutta
136      TCS  30.484615  1111.0       Delhi
137      CTS  31.000000  2034.0      Mumbai
138      CTS  44.000000  3033.0      Cochin
139      CTS  22.000000  2934.0       Noida
140  Infosys  44.000000  4034.0   Hyderabad
141      TCS  33.000000  5034.0    Calcutta
142  Infosys  22.000000  8202.0      Mumbai
143      TCS  33.000000  9024.0    Calcutta
144  Infosys  22.000000  8787.0    Calcutta
145  Infosys  44.000000  4034.0       Delhi
146      TCS  33.000000  5034.0      Mumbai
147  Infosys  22.000000  8202.0      Cochin

In [68]:
df.dropna()

     Company        Age  Salary       Place
0        TCS  20.000000  1111.0     Chennai
1    Infosys  30.000000  1111.0      Mumbai
2        TCS  35.000000  2300.0    Calcutta
3    Infosys  40.000000  3000.0       Delhi
4        TCS  23.000000  4000.0      Mumbai
5    Infosys  30.484615  5000.0    Calcutta
6        TCS  30.484615  6000.0     Chennai
7    Infosys  23.000000  7000.0      Mumbai
8        TCS  34.000000  8000.0    Calcutta
9        CTS  45.000000  9000.0       Delhi
10       CTS  23.000000  1111.0      Mumbai
11       CTS  34.000000  1089.0    Calcutta
12       CTS  45.000000  1111.0     Chennai
13       CTS  18.000000  1234.0      Mumbai
14   Infosys  40.000000  3000.0    Calcutta
15       TCS  23.000000  3000.0       Delhi
16   Infosys  23.000000  3030.0  Podicherry
17       TCS  34.000000  5000.0      Cochin
18       TCS  22.000000  1111.0     Chennai
19   Infosys  32.000000  1111.0      Mumbai
20       TCS  37.000000  3045.0    Calcutta
21   Infosys  50.000000  3184.0       Delhi
22       TCS  21.000000  4824.0      Mumbai
23   Infosys  30.484615  5835.0      Cochin
24       TCS  30.484615  7084.0     Chennai
25   Infosys  23.000000  8943.0      Mumbai
26       TCS  34.000000  8345.0    Calcutta
27       CTS  45.000000  9284.0       Delhi
28       CTS  23.000000  9876.0      Mumbai
29       CTS  35.000000  2034.0      Cochin
30       CTS  46.000000  7654.0     Chennai
31       CTS  20.000000  2934.0      Mumbai
32   Infosys  45.000000  4034.0    Calcutta
33       TCS  36.000000  5034.0     Lucknow
34   Infosys  26.000000  8202.0     Lucknow
35       TCS  35.000000  9024.0     Lucknow
36       TCS  32.000000  1111.0       Noida
37       TCS  35.000000  1111.0   Hyderabad
38       TCS  34.000000  2300.0    Calcutta
39   Infosys  41.000000  3000.0      Mumbai
40       TCS  24.000000  4345.0    Calcutta
41   Infosys  30.484615  5000.0     Lucknow
42       TCS  30.484615  6000.0     Lucknow
43   Infosys  25.000000  7000.0     Lucknow
44       TCS  35.000000  8000.0       Noida
45       CTS  46.000000  9000.0   Hyderabad
46       CTS  24.000000  1111.0    Calcutta
47       CTS  32.000000  1089.0      Mumbai
48       CTS  43.000000  1111.0      Mumbai
49       CTS  19.000000  1234.0      Cochin
50   Infosys  41.000000  3000.0     Chennai
51       TCS  24.000000  3000.0      Mumbai
52   Infosys  21.000000  3030.0    Calcutta
53       TCS  35.000000  5000.0       Delhi
54       TCS  21.000000  6544.0      Mumbai
55   Infosys  32.000000  7654.0      Cochin
56       TCS  38.000000  3045.0       Noida
57   Infosys  51.000000  3184.0   Hyderabad
58       TCS  23.000000  4824.0    Calcutta
59   Infosys  30.484615  5835.0      Mumbai
60       TCS  30.484615  7084.0    Calcutta
61       TCS  25.000000  8943.0     Lucknow
62       TCS  36.000000  8345.0     Lucknow
63       CTS  41.000000  9284.0     Lucknow
64       TCS  25.000000  6543.0       Noida
65       CTS  31.000000  2034.0   Hyderabad
66       CTS  41.000000  1111.0    Calcutta
67       CTS  21.000000  2934.0      Mumbai
68   Infosys  43.000000  4034.0      Mumbai
69       TCS  32.000000  5034.0      Cochin
70   Infosys  21.000000  8202.0     Chennai
71       TCS  34.000000  9024.0      Mumbai
72       TCS  24.000000  1111.0    Calcutta
73   Infosys  34.000000  1111.0       Delhi
74       TCS  37.000000  2300.0      Mumbai
75   Infosys  44.000000  3000.0      Cochin
76       TCS  32.000000  4000.0       Noida
77   Infosys  30.484615  5000.0   Hyderabad
78       TCS  30.484615  6000.0    Calcutta
79   Infosys  26.000000  7000.0      Bhopal
80       TCS  32.000000  8000.0      Nagpur
81       CTS  43.000000  9000.0        Pune
82       CTS  22.000000  1111.0        Pune
83       CTS  33.000000  1089.0     Chennai
84       CTS  43.000000  1111.0      Mumbai
85       CTS  17.000000  1234.0    Calcutta
86   Infosys  41.000000  3000.0       Delhi
87       TCS  21.000000  3000.0      Mumbai
88   Infosys   0.000000  3030.0    Calcutta
89       TCS  36.000000  5000.0     Chennai
90       TCS  21.000000  1111.0      Mumbai
91   Infosys  34.000000  1111.0    Calcutta
92       TCS   0.000000  3045.0       Delhi
93   Infosys  54.000000  3184.0      Mumbai
94       TCS  22.000000  4824.0    Calcutta
95   Infosys  30.484615  5835.0     Chennai
96       TCS  30.484615  7084.0      Mumbai
97   Infosys  22.000000  8943.0    Calcutta
98       TCS  33.000000  8345.0       Delhi
99       CTS  44.000000  9284.0  Podicherry
100      CTS  22.000000  1111.0      Cochin
101      CTS   0.000000  2034.0  Podicherry
102      CTS  44.000000  1111.0      Mumbai
103      CTS  22.000000  2934.0    Calcutta
104  Infosys  44.000000  4034.0       Delhi
105      TCS  33.000000  5034.0      Mumbai
106  Infosys  22.000000  8202.0      Cochin
107      TCS   0.000000  9024.0     Chennai
108      TCS  33.000000  1111.0      Mumbai
109      TCS  33.000000  1111.0    Calcutta
110      TCS  33.000000  2300.0       Delhi
111  Infosys   0.000000  3234.0      Mumbai
112      TCS  22.000000  4324.0      Cochin
113  Infosys  30.484615  5435.0     Chennai
114      TCS  30.484615  5555.0      Mumbai
115  Infosys  22.000000  8787.0    Calcutta
116      TCS  33.000000  8787.0     Lucknow
117      CTS  44.000000  9876.0     Lucknow
118      CTS  22.000000  1111.0     Lucknow
119      CTS  33.000000  1089.0       Noida
120      CTS  44.000000  1111.0   Hyderabad
121      CTS   0.000000  1234.0    Calcutta
122  Infosys  44.000000  3234.0      Mumbai
123      TCS  30.484615  3454.0    Calcutta
124  Infosys  22.000000  8787.0    Calcutta
125      TCS  33.000000  5654.0     Lucknow
126      TCS  20.000000  5009.0     Lucknow
127  Infosys  30.000000  5098.0       Noida
128      TCS  33.000000  3045.0   Hyderabad
129  Infosys  50.000000  3184.0    Calcutta
130      TCS  21.000000  4824.0      Mumbai
131  Infosys  30.484615  5835.0      Mumbai
132      TCS  30.484615  7084.0      Cochin
133      TCS  22.000000  8943.0     Chennai
134      TCS  31.000000  8345.0      Mumbai
135      CTS  40.000000  9284.0    Calcutta
136      TCS  30.484615  1111.0       Delhi
137      CTS  31.000000  2034.0      Mumbai
138      CTS  44.000000  3033.0      Cochin
139      CTS  22.000000  2934.0       Noida
140  Infosys  44.000000  4034.0   Hyderabad
141      TCS  33.000000  5034.0    Calcutta
142  Infosys  22.000000  8202.0      Mumbai
143      TCS  33.000000  9024.0    Calcutta
144  Infosys  22.000000  8787.0    Calcutta
145  Infosys  44.000000  4034.0       Delhi
146      TCS  33.000000  5034.0      Mumbai
147  Infosys  22.000000  8202.0      Cochin

In [70]:
df.isnull().sum()

Company    0
Age        0
Salary     0
Place      0
dtype: int64

In [71]:
df.notnull().sum()

Company    148
Age        148
Salary     148
Place      148
dtype: int64

In [74]:
df=df.drop_duplicates()

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 140 entries, 0 to 143
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Company  140 non-null    object
 1   Age      140 non-null    float64
 2   Salary   140 non-null    float64
 3   Place    140 non-null    object
dtypes: float64(2), object(2)
memory usage: 5.5+ KB

In [78]:
df.drop(columns=['Place'], inplace=True)

C:\Users\RaghulRamesh\AppData\Local\Temp\ipykernel_10688\3694948898.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['Place'], inplace=True)

In [80]:
df['Category']='Highly Paid'

C:\Users\RaghulRamesh\AppData\Local\Temp\ipykernel_10688\1956298074.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Category']='Highly Paid'

In [81]:
df

     Company        Age  Salary     Category
0        TCS  20.000000  1111.0  Highly Paid
1    Infosys  30.000000  1111.0  Highly Paid
2        TCS  35.000000  2300.0  Highly Paid
3    Infosys  40.000000  3000.0  Highly Paid
4        TCS  23.000000  4000.0  Highly Paid
5    Infosys  30.484615  5000.0  Highly Paid
6        TCS  30.484615  6000.0  Highly Paid
7    Infosys  23.000000  7000.0  Highly Paid
8        TCS  34.000000  8000.0  Highly Paid
9        CTS  45.000000  9000.0  Highly Paid
10       CTS  23.000000  1111.0  Highly Paid
11       CTS  34.000000  1089.0  Highly Paid
12       CTS  45.000000  1111.0  Highly Paid
13       CTS  18.000000  1234.0  Highly Paid
14   Infosys  40.000000  3000.0  Highly Paid
15       TCS  23.000000  3000.0  Highly Paid
16   Infosys  23.000000  3030.0  Highly Paid
17       TCS  34.000000  5000.0  Highly Paid
18       TCS  22.000000  1111.0  Highly Paid
19   Infosys  32.000000  1111.0  Highly Paid
20       TCS  37.000000  3045.0  Highly Paid
21   Infosys  50.000000  3184.0  Highly Paid
22       TCS  21.000000  4824.0  Highly Paid
23   Infosys  30.484615  5835.0  Highly Paid
24       TCS  30.484615  7084.0  Highly Paid
25   Infosys  23.000000  8943.0  Highly Paid
26       TCS  34.000000  8345.0  Highly Paid
27       CTS  45.000000  9284.0  Highly Paid
28       CTS  23.000000  9876.0  Highly Paid
29       CTS  35.000000  2034.0  Highly Paid
30       CTS  46.000000  7654.0  Highly Paid
31       CTS  20.000000  2934.0  Highly Paid
32   Infosys  45.000000  4034.0  Highly Paid
33       TCS  36.000000  5034.0  Highly Paid
34   Infosys  26.000000  8202.0  Highly Paid
35       TCS  35.000000  9024.0  Highly Paid
36       TCS  32.000000  1111.0  Highly Paid
37       TCS  35.000000  1111.0  Highly Paid
38       TCS  34.000000  2300.0  Highly Paid
39   Infosys  41.000000  3000.0  Highly Paid
40       TCS  24.000000  4345.0  Highly Paid
41   Infosys  30.484615  5000.0  Highly Paid
42       TCS  30.484615  6000.0  Highly Paid
43   Infosys  25.000000  7000.0  Highly Paid
44       TCS  35.000000  8000.0  Highly Paid
45       CTS  46.000000  9000.0  Highly Paid
46       CTS  24.000000  1111.0  Highly Paid
47       CTS  32.000000  1089.0  Highly Paid
48       CTS  43.000000  1111.0  Highly Paid
49       CTS  19.000000  1234.0  Highly Paid
50   Infosys  41.000000  3000.0  Highly Paid
51       TCS  24.000000  3000.0  Highly Paid
52   Infosys  21.000000  3030.0  Highly Paid
53       TCS  35.000000  5000.0  Highly Paid
54       TCS  21.000000  6544.0  Highly Paid
55   Infosys  32.000000  7654.0  Highly Paid
56       TCS  38.000000  3045.0  Highly Paid
57   Infosys  51.000000  3184.0  Highly Paid
58       TCS  23.000000  4824.0  Highly Paid
59   Infosys  30.484615  5835.0  Highly Paid
60       TCS  30.484615  7084.0  Highly Paid
61       TCS  25.000000  8943.0  Highly Paid
62       TCS  36.000000  8345.0  Highly Paid
63       CTS  41.000000  9284.0  Highly Paid
64       TCS  25.000000  6543.0  Highly Paid
65       CTS  31.000000  2034.0  Highly Paid
66       CTS  41.000000  1111.0  Highly Paid
67       CTS  21.000000  2934.0  Highly Paid
68   Infosys  43.000000  4034.0  Highly Paid
69       TCS  32.000000  5034.0  Highly Paid
70   Infosys  21.000000  8202.0  Highly Paid
71       TCS  34.000000  9024.0  Highly Paid
72       TCS  24.000000  1111.0  Highly Paid
73   Infosys  34.000000  1111.0  Highly Paid
74       TCS  37.000000  2300.0  Highly Paid
75   Infosys  44.000000  3000.0  Highly Paid
76       TCS  32.000000  4000.0  Highly Paid
77   Infosys  30.484615  5000.0  Highly Paid
78       TCS  30.484615  6000.0  Highly Paid
79   Infosys  26.000000  7000.0  Highly Paid
80       TCS  32.000000  8000.0  Highly Paid
81       CTS  43.000000  9000.0  Highly Paid
82       CTS  22.000000  1111.0  Highly Paid
83       CTS  33.000000  1089.0  Highly Paid
85       CTS  17.000000  1234.0  Highly Paid
86   Infosys  41.000000  3000.0  Highly Paid
87       TCS  21.000000  3000.0  Highly Paid
88   Infosys   0.000000  3030.0  Highly Paid
89       TCS  36.000000  5000.0  Highly Paid
90       TCS  21.000000  1111.0  Highly Paid
91   Infosys  34.000000  1111.0  Highly Paid
92       TCS   0.000000  3045.0  Highly Paid
93   Infosys  54.000000  3184.0  Highly Paid
94       TCS  22.000000  4824.0  Highly Paid
95   Infosys  30.484615  5835.0  Highly Paid
96       TCS  30.484615  7084.0  Highly Paid
97   Infosys  22.000000  8943.0  Highly Paid
98       TCS  33.000000  8345.0  Highly Paid
99       CTS  44.000000  9284.0  Highly Paid
100      CTS  22.000000  1111.0  Highly Paid
101      CTS   0.000000  2034.0  Highly Paid
102      CTS  44.000000  1111.0  Highly Paid
103      CTS  22.000000  2934.0  Highly Paid
104  Infosys  44.000000  4034.0  Highly Paid
105      TCS  33.000000  5034.0  Highly Paid
106  Infosys  22.000000  8202.0  Highly Paid
107      TCS   0.000000  9024.0  Highly Paid
108      TCS  33.000000  1111.0  Highly Paid
109      TCS  33.000000  1111.0  Highly Paid
110      TCS  33.000000  2300.0  Highly Paid
111  Infosys   0.000000  3234.0  Highly Paid
112      TCS  22.000000  4324.0  Highly Paid
113  Infosys  30.484615  5435.0  Highly Paid
114      TCS  30.484615  5555.0  Highly Paid
115  Infosys  22.000000  8787.0  Highly Paid
116      TCS  33.000000  8787.0  Highly Paid
117      CTS  44.000000  9876.0  Highly Paid
118      CTS  22.000000  1111.0  Highly Paid
119      CTS  33.000000  1089.0  Highly Paid
120      CTS  44.000000  1111.0  Highly Paid
121      CTS   0.000000  1234.0  Highly Paid
122  Infosys  44.000000  3234.0  Highly Paid
123      TCS  30.484615  3454.0  Highly Paid
125      TCS  33.000000  5654.0  Highly Paid
126      TCS  20.000000  5009.0  Highly Paid
127  Infosys  30.000000  5098.0  Highly Paid
128      TCS  33.000000  3045.0  Highly Paid
129  Infosys  50.000000  3184.0  Highly Paid
132      TCS  30.484615  7084.0  Highly Paid
133      TCS  22.000000  8943.0  Highly Paid
134      TCS  31.000000  8345.0  Highly Paid
135      CTS  40.000000  9284.0  Highly Paid
136      TCS  30.484615  1111.0  Highly Paid
137      CTS  31.000000  2034.0  Highly Paid
138      CTS  44.000000  3033.0  Highly Paid
139      CTS  22.000000  2934.0  Highly Paid
140  Infosys  44.000000  4034.0  Highly Paid
141      TCS  33.000000  5034.0  Highly Paid
142  Infosys  22.000000  8202.0  Highly Paid
143      TCS  33.000000  9024.0  Highly Paid

In [82]:
def get_category(sal):
    if sal>=5000:
        return "Highly Paid"
    else:
        return "Less paid"

In [83]:
df['Category']=df['Salary'].apply(get_category)

C:\Users\RaghulRamesh\AppData\Local\Temp\ipykernel_10688\3332031433.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Category']=df['Salary'].apply(get_category)

In [84]:
df

     Company        Age  Salary     Category
0        TCS  20.000000  1111.0    Less paid
1    Infosys  30.000000  1111.0    Less paid
2        TCS  35.000000  2300.0    Less paid
3    Infosys  40.000000  3000.0    Less paid
4        TCS  23.000000  4000.0    Less paid
5    Infosys  30.484615  5000.0  Highly Paid
6        TCS  30.484615  6000.0  Highly Paid
7    Infosys  23.000000  7000.0  Highly Paid
8        TCS  34.000000  8000.0  Highly Paid
9        CTS  45.000000  9000.0  Highly Paid
10       CTS  23.000000  1111.0    Less paid
11       CTS  34.000000  1089.0    Less paid
12       CTS  45.000000  1111.0    Less paid
13       CTS  18.000000  1234.0    Less paid
14   Infosys  40.000000  3000.0    Less paid
15       TCS  23.000000  3000.0    Less paid
16   Infosys  23.000000  3030.0    Less paid
17       TCS  34.000000  5000.0  Highly Paid
18       TCS  22.000000  1111.0    Less paid
19   Infosys  32.000000  1111.0    Less paid
20       TCS  37.000000  3045.0    Less paid
21   Infosys  50.000000  3184.0    Less paid
22       TCS  21.000000  4824.0    Less paid
23   Infosys  30.484615  5835.0  Highly Paid
24       TCS  30.484615  7084.0  Highly Paid
25   Infosys  23.000000  8943.0  Highly Paid
26       TCS  34.000000  8345.0  Highly Paid
27       CTS  45.000000  9284.0  Highly Paid
28       CTS  23.000000  9876.0  Highly Paid
29       CTS  35.000000  2034.0    Less paid
30       CTS  46.000000  7654.0  Highly Paid
31       CTS  20.000000  2934.0    Less paid
32   Infosys  45.000000  4034.0    Less paid
33       TCS  36.000000  5034.0  Highly Paid
34   Infosys  26.000000  8202.0  Highly Paid
35       TCS  35.000000  9024.0  Highly Paid
36       TCS  32.000000  1111.0    Less paid
37       TCS  35.000000  1111.0    Less paid
38       TCS  34.000000  2300.0    Less paid
39   Infosys  41.000000  3000.0    Less paid
40       TCS  24.000000  4345.0    Less paid
41   Infosys  30.484615  5000.0  Highly Paid
42       TCS  30.484615  6000.0  Highly Paid
43   Infosys  25.000000  7000.0  Highly Paid
44       TCS  35.000000  8000.0  Highly Paid
45       CTS  46.000000  9000.0  Highly Paid
46       CTS  24.000000  1111.0    Less paid
47       CTS  32.000000  1089.0    Less paid
48       CTS  43.000000  1111.0    Less paid
49       CTS  19.000000  1234.0    Less paid
50   Infosys  41.000000  3000.0    Less paid
51       TCS  24.000000  3000.0    Less paid
52   Infosys  21.000000  3030.0    Less paid
53       TCS  35.000000  5000.0  Highly Paid
54       TCS  21.000000  6544.0  Highly Paid
55   Infosys  32.000000  7654.0  Highly Paid
56       TCS  38.000000  3045.0    Less paid
57   Infosys  51.000000  3184.0    Less paid
58       TCS  23.000000  4824.0    Less paid
59   Infosys  30.484615  5835.0  Highly Paid
60       TCS  30.484615  7084.0  Highly Paid
61       TCS  25.000000  8943.0  Highly Paid
62       TCS  36.000000  8345.0  Highly Paid
63       CTS  41.000000  9284.0  Highly Paid
64       TCS  25.000000  6543.0  Highly Paid
65       CTS  31.000000  2034.0    Less paid
66       CTS  41.000000  1111.0    Less paid
67       CTS  21.000000  2934.0    Less paid
68   Infosys  43.000000  4034.0    Less paid
69       TCS  32.000000  5034.0  Highly Paid
70   Infosys  21.000000  8202.0  Highly Paid
71       TCS  34.000000  9024.0  Highly Paid
72       TCS  24.000000  1111.0    Less paid
73   Infosys  34.000000  1111.0    Less paid
74       TCS  37.000000  2300.0    Less paid
75   Infosys  44.000000  3000.0    Less paid
76       TCS  32.000000  4000.0    Less paid
77   Infosys  30.484615  5000.0  Highly Paid
78       TCS  30.484615  6000.0  Highly Paid
79   Infosys  26.000000  7000.0  Highly Paid
80       TCS  32.000000  8000.0  Highly Paid
81       CTS  43.000000  9000.0  Highly Paid
82       CTS  22.000000  1111.0    Less paid
83       CTS  33.000000  1089.0    Less paid
85       CTS  17.000000  1234.0    Less paid
86   Infosys  41.000000  3000.0    Less paid
87       TCS  21.000000  3000.0    Less paid
88   Infosys   0.000000  3030.0    Less paid
89       TCS  36.000000  5000.0  Highly Paid
90       TCS  21.000000  1111.0    Less paid
91   Infosys  34.000000  1111.0    Less paid
92       TCS   0.000000  3045.0    Less paid
93   Infosys  54.000000  3184.0    Less paid
94       TCS  22.000000  4824.0    Less paid
95   Infosys  30.484615  5835.0  Highly Paid
96       TCS  30.484615  7084.0  Highly Paid
97   Infosys  22.000000  8943.0  Highly Paid
98       TCS  33.000000  8345.0  Highly Paid
99       CTS  44.000000  9284.0  Highly Paid
100      CTS  22.000000  1111.0    Less paid
101      CTS   0.000000  2034.0    Less paid
102      CTS  44.000000  1111.0    Less paid
103      CTS  22.000000  2934.0    Less paid
104  Infosys  44.000000  4034.0    Less paid
105      TCS  33.000000  5034.0  Highly Paid
106  Infosys  22.000000  8202.0  Highly Paid
107      TCS   0.000000  9024.0  Highly Paid
108      TCS  33.000000  1111.0    Less paid
109      TCS  33.000000  1111.0    Less paid
110      TCS  33.000000  2300.0    Less paid
111  Infosys   0.000000  3234.0    Less paid
112      TCS  22.000000  4324.0    Less paid
113  Infosys  30.484615  5435.0  Highly Paid
114      TCS  30.484615  5555.0  Highly Paid
115  Infosys  22.000000  8787.0  Highly Paid
116      TCS  33.000000  8787.0  Highly Paid
117      CTS  44.000000  9876.0  Highly Paid
118      CTS  22.000000  1111.0    Less paid
119      CTS  33.000000  1089.0    Less paid
120      CTS  44.000000  1111.0    Less paid
121      CTS   0.000000  1234.0    Less paid
122  Infosys  44.000000  3234.0    Less paid
123      TCS  30.484615  3454.0    Less paid
125      TCS  33.000000  5654.0  Highly Paid
126      TCS  20.000000  5009.0  Highly Paid
127  Infosys  30.000000  5098.0  Highly Paid
128      TCS  33.000000  3045.0    Less paid
129  Infosys  50.000000  3184.0    Less paid
132      TCS  30.484615  7084.0  Highly Paid
133      TCS  22.000000  8943.0  Highly Paid
134      TCS  31.000000  8345.0  Highly Paid
135      CTS  40.000000  9284.0  Highly Paid
136      TCS  30.484615  1111.0    Less paid
137      CTS  31.000000  2034.0    Less paid
138      CTS  44.000000  3033.0    Less paid
139      CTS  22.000000  2934.0    Less paid
140  Infosys  44.000000  4034.0    Less paid
141      TCS  33.000000  5034.0  Highly Paid
142  Infosys  22.000000  8202.0  Highly Paid
143      TCS  33.000000  9024.0  Highly Paid

In [89]:
df[(df['Company']=='Infosys') & (df['Age']<30)]

     Company   Age  Salary     Category
7    Infosys  23.0  7000.0  Highly Paid
16   Infosys  23.0  3030.0    Less paid
25   Infosys  23.0  8943.0  Highly Paid
34   Infosys  26.0  8202.0  Highly Paid
43   Infosys  25.0  7000.0  Highly Paid
52   Infosys  21.0  3030.0    Less paid
70   Infosys  21.0  8202.0  Highly Paid
79   Infosys  26.0  7000.0  Highly Paid
88   Infosys   0.0  3030.0    Less paid
97   Infosys  22.0  8943.0  Highly Paid
106  Infosys  22.0  8202.0  Highly Paid
111  Infosys   0.0  3234.0    Less paid
115  Infosys  22.0  8787.0  Highly Paid
142  Infosys  22.0  8202.0  Highly Paid

In [90]:
df[df['Category']=='Highly Paid']

     Company        Age  Salary     Category
5    Infosys  30.484615  5000.0  Highly Paid
6        TCS  30.484615  6000.0  Highly Paid
7    Infosys  23.000000  7000.0  Highly Paid
8        TCS  34.000000  8000.0  Highly Paid
9        CTS  45.000000  9000.0  Highly Paid
17       TCS  34.000000  5000.0  Highly Paid
23   Infosys  30.484615  5835.0  Highly Paid
24       TCS  30.484615  7084.0  Highly Paid
25   Infosys  23.000000  8943.0  Highly Paid
26       TCS  34.000000  8345.0  Highly Paid
27       CTS  45.000000  9284.0  Highly Paid
28       CTS  23.000000  9876.0  Highly Paid
30       CTS  46.000000  7654.0  Highly Paid
33       TCS  36.000000  5034.0  Highly Paid
34   Infosys  26.000000  8202.0  Highly Paid
35       TCS  35.000000  9024.0  Highly Paid
41   Infosys  30.484615  5000.0  Highly Paid
42       TCS  30.484615  6000.0  Highly Paid
43   Infosys  25.000000  7000.0  Highly Paid
44       TCS  35.000000  8000.0  Highly Paid
45       CTS  46.000000  9000.0  Highly Paid
53       TCS  35.000000  5000.0  Highly Paid
54       TCS  21.000000  6544.0  Highly Paid
55   Infosys  32.000000  7654.0  Highly Paid
59   Infosys  30.484615  5835.0  Highly Paid
60       TCS  30.484615  7084.0  Highly Paid
61       TCS  25.000000  8943.0  Highly Paid
62       TCS  36.000000  8345.0  Highly Paid
63       CTS  41.000000  9284.0  Highly Paid
64       TCS  25.000000  6543.0  Highly Paid
69       TCS  32.000000  5034.0  Highly Paid
70   Infosys  21.000000  8202.0  Highly Paid
71       TCS  34.000000  9024.0  Highly Paid
77   Infosys  30.484615  5000.0  Highly Paid
78       TCS  30.484615  6000.0  Highly Paid
79   Infosys  26.000000  7000.0  Highly Paid
80       TCS  32.000000  8000.0  Highly Paid
81       CTS  43.000000  9000.0  Highly Paid
89       TCS  36.000000  5000.0  Highly Paid
95   Infosys  30.484615  5835.0  Highly Paid
96       TCS  30.484615  7084.0  Highly Paid
97   Infosys  22.000000  8943.0  Highly Paid
98       TCS  33.000000  8345.0  Highly Paid
99       CTS  44.000000  9284.0  Highly Paid
105      TCS  33.000000  5034.0  Highly Paid
106  Infosys  22.000000  8202.0  Highly Paid
107      TCS   0.000000  9024.0  Highly Paid
113  Infosys  30.484615  5435.0  Highly Paid
114      TCS  30.484615  5555.0  Highly Paid
115  Infosys  22.000000  8787.0  Highly Paid
116      TCS  33.000000  8787.0  Highly Paid
117      CTS  44.000000  9876.0  Highly Paid
125      TCS  33.000000  5654.0  Highly Paid
126      TCS  20.000000  5009.0  Highly Paid
127  Infosys  30.000000  5098.0  Highly Paid
132      TCS  30.484615  7084.0  Highly Paid
133      TCS  22.000000  8943.0  Highly Paid
134      TCS  31.000000  8345.0  Highly Paid
135      CTS  40.000000  9284.0  Highly Paid
141      TCS  33.000000  5034.0  Highly Paid
142  Infosys  22.000000  8202.0  Highly Paid
143      TCS  33.000000  9024.0  Highly Paid

In [94]:
df.rename(columns={'Salary':'Package'}, inplace=True)

C:\Users\RaghulRamesh\AppData\Local\Temp\ipykernel_10688\2071221637.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'Salary':'Package'}, inplace=True)

In [95]:
df

     Company        Age  Package     Category
0        TCS  20.000000   1111.0    Less paid
1    Infosys  30.000000   1111.0    Less paid
2        TCS  35.000000   2300.0    Less paid
3    Infosys  40.000000   3000.0    Less paid
4        TCS  23.000000   4000.0    Less paid
5    Infosys  30.484615   5000.0  Highly Paid
6        TCS  30.484615   6000.0  Highly Paid
7    Infosys  23.000000   7000.0  Highly Paid
8        TCS  34.000000   8000.0  Highly Paid
9        CTS  45.000000   9000.0  Highly Paid
10       CTS  23.000000   1111.0    Less paid
11       CTS  34.000000   1089.0    Less paid
12       CTS  45.000000   1111.0    Less paid
13       CTS  18.000000   1234.0    Less paid
14   Infosys  40.000000   3000.0    Less paid
15       TCS  23.000000   3000.0    Less paid
16   Infosys  23.000000   3030.0    Less paid
17       TCS  34.000000   5000.0  Highly Paid
18       TCS  22.000000   1111.0    Less paid
19   Infosys  32.000000   1111.0    Less paid
20       TCS  37.000000   3045.0    Less paid
21   Infosys  50.000000   3184.0    Less paid
22       TCS  21.000000   4824.0    Less paid
23   Infosys  30.484615   5835.0  Highly Paid
24       TCS  30.484615   7084.0  Highly Paid
25   Infosys  23.000000   8943.0  Highly Paid
26       TCS  34.000000   8345.0  Highly Paid
27       CTS  45.000000   9284.0  Highly Paid
28       CTS  23.000000   9876.0  Highly Paid
29       CTS  35.000000   2034.0    Less paid
30       CTS  46.000000   7654.0  Highly Paid
31       CTS  20.000000   2934.0    Less paid
32   Infosys  45.000000   4034.0    Less paid
33       TCS  36.000000   5034.0  Highly Paid
34   Infosys  26.000000   8202.0  Highly Paid
35       TCS  35.000000   9024.0  Highly Paid
36       TCS  32.000000   1111.0    Less paid
37       TCS  35.000000   1111.0    Less paid
38       TCS  34.000000   2300.0    Less paid
39   Infosys  41.000000   3000.0    Less paid
40       TCS  24.000000   4345.0    Less paid
41   Infosys  30.484615   5000.0  Highly Paid
42       TCS  30.484615   6000.0  Highly Paid
43   Infosys  25.000000   7000.0  Highly Paid
44       TCS  35.000000   8000.0  Highly Paid
45       CTS  46.000000   9000.0  Highly Paid
46       CTS  24.000000   1111.0    Less paid
47       CTS  32.000000   1089.0    Less paid
48       CTS  43.000000   1111.0    Less paid
49       CTS  19.000000   1234.0    Less paid
50   Infosys  41.000000   3000.0    Less paid
51       TCS  24.000000   3000.0    Less paid
52   Infosys  21.000000   3030.0    Less paid
53       TCS  35.000000   5000.0  Highly Paid
54       TCS  21.000000   6544.0  Highly Paid
55   Infosys  32.000000   7654.0  Highly Paid
56       TCS  38.000000   3045.0    Less paid
57   Infosys  51.000000   3184.0    Less paid
58       TCS  23.000000   4824.0    Less paid
59   Infosys  30.484615   5835.0  Highly Paid
60       TCS  30.484615   7084.0  Highly Paid
61       TCS  25.000000   8943.0  Highly Paid
62       TCS  36.000000   8345.0  Highly Paid
63       CTS  41.000000   9284.0  Highly Paid
64       TCS  25.000000   6543.0  Highly Paid
65       CTS  31.000000   2034.0    Less paid
66       CTS  41.000000   1111.0    Less paid
67       CTS  21.000000   2934.0    Less paid
68   Infosys  43.000000   4034.0    Less paid
69       TCS  32.000000   5034.0  Highly Paid
70   Infosys  21.000000   8202.0  Highly Paid
71       TCS  34.000000   9024.0  Highly Paid
72       TCS  24.000000   1111.0    Less paid
73   Infosys  34.000000   1111.0    Less paid
74       TCS  37.000000   2300.0    Less paid
75   Infosys  44.000000   3000.0    Less paid
76       TCS  32.000000   4000.0    Less paid
77   Infosys  30.484615   5000.0  Highly Paid
78       TCS  30.484615   6000.0  Highly Paid
79   Infosys  26.000000   7000.0  Highly Paid
80       TCS  32.000000   8000.0  Highly Paid
81       CTS  43.000000   9000.0  Highly Paid
82       CTS  22.000000   1111.0    Less paid
83       CTS  33.000000   1089.0    Less paid
85       CTS  17.000000   1234.0    Less paid
86   Infosys  41.000000   3000.0    Less paid
87       TCS  21.000000   3000.0    Less paid
88   Infosys   0.000000   3030.0    Less paid
89       TCS  36.000000   5000.0  Highly Paid
90       TCS  21.000000   1111.0    Less paid
91   Infosys  34.000000   1111.0    Less paid
92       TCS   0.000000   3045.0    Less paid
93   Infosys  54.000000   3184.0    Less paid
94       TCS  22.000000   4824.0    Less paid
95   Infosys  30.484615   5835.0  Highly Paid
96       TCS  30.484615   7084.0  Highly Paid
97   Infosys  22.000000   8943.0  Highly Paid
98       TCS  33.000000   8345.0  Highly Paid
99       CTS  44.000000   9284.0  Highly Paid
100      CTS  22.000000   1111.0    Less paid
101      CTS   0.000000   2034.0    Less paid
102      CTS  44.000000   1111.0    Less paid
103      CTS  22.000000   2934.0    Less paid
104  Infosys  44.000000   4034.0    Less paid
105      TCS  33.000000   5034.0  Highly Paid
106  Infosys  22.000000   8202.0  Highly Paid
107      TCS   0.000000   9024.0  Highly Paid
108      TCS  33.000000   1111.0    Less paid
109      TCS  33.000000   1111.0    Less paid
110      TCS  33.000000   2300.0    Less paid
111  Infosys   0.000000   3234.0    Less paid
112      TCS  22.000000   4324.0    Less paid
113  Infosys  30.484615   5435.0  Highly Paid
114      TCS  30.484615   5555.0  Highly Paid
115  Infosys  22.000000   8787.0  Highly Paid
116      TCS  33.000000   8787.0  Highly Paid
117      CTS  44.000000   9876.0  Highly Paid
118      CTS  22.000000   1111.0    Less paid
119      CTS  33.000000   1089.0    Less paid
120      CTS  44.000000   1111.0    Less paid
121      CTS   0.000000   1234.0    Less paid
122  Infosys  44.000000   3234.0    Less paid
123      TCS  30.484615   3454.0    Less paid
125      TCS  33.000000   5654.0  Highly Paid
126      TCS  20.000000   5009.0  Highly Paid
127  Infosys  30.000000   5098.0  Highly Paid
128      TCS  33.000000   3045.0    Less paid
129  Infosys  50.000000   3184.0    Less paid
132      TCS  30.484615   7084.0  Highly Paid
133      TCS  22.000000   8943.0  Highly Paid
134      TCS  31.000000   8345.0  Highly Paid
135      CTS  40.000000   9284.0  Highly Paid
136      TCS  30.484615   1111.0    Less paid
137      CTS  31.000000   2034.0    Less paid
138      CTS  44.000000   3033.0    Less paid
139      CTS  22.000000   2934.0    Less paid
140  Infosys  44.000000   4034.0    Less paid
141      TCS  33.000000   5034.0  Highly Paid
142  Infosys  22.000000   8202.0  Highly Paid
143      TCS  33.000000   9024.0  Highly Paid

In [97]:
df.sort_values(by=['Package','Age'])

     Company        Age  Package     Category
47       CTS  32.000000   1089.0    Less paid
83       CTS  33.000000   1089.0    Less paid
119      CTS  33.000000   1089.0    Less paid
11       CTS  34.000000   1089.0    Less paid
0        TCS  20.000000   1111.0    Less paid
90       TCS  21.000000   1111.0    Less paid
18       TCS  22.000000   1111.0    Less paid
82       CTS  22.000000   1111.0    Less paid
100      CTS  22.000000   1111.0    Less paid
118      CTS  22.000000   1111.0    Less paid
10       CTS  23.000000   1111.0    Less paid
46       CTS  24.000000   1111.0    Less paid
72       TCS  24.000000   1111.0    Less paid
1    Infosys  30.000000   1111.0    Less paid
136      TCS  30.484615   1111.0    Less paid
19   Infosys  32.000000   1111.0    Less paid
36       TCS  32.000000   1111.0    Less paid
108      TCS  33.000000   1111.0    Less paid
109      TCS  33.000000   1111.0    Less paid
73   Infosys  34.000000   1111.0    Less paid
91   Infosys  34.000000   1111.0    Less paid
37       TCS  35.000000   1111.0    Less paid
66       CTS  41.000000   1111.0    Less paid
48       CTS  43.000000   1111.0    Less paid
102      CTS  44.000000   1111.0    Less paid
120      CTS  44.000000   1111.0    Less paid
12       CTS  45.000000   1111.0    Less paid
121      CTS   0.000000   1234.0    Less paid
85       CTS  17.000000   1234.0    Less paid
13       CTS  18.000000   1234.0    Less paid
49       CTS  19.000000   1234.0    Less paid
101      CTS   0.000000   2034.0    Less paid
65       CTS  31.000000   2034.0    Less paid
137      CTS  31.000000   2034.0    Less paid
29       CTS  35.000000   2034.0    Less paid
110      TCS  33.000000   2300.0    Less paid
38       TCS  34.000000   2300.0    Less paid
2        TCS  35.000000   2300.0    Less paid
74       TCS  37.000000   2300.0    Less paid
31       CTS  20.000000   2934.0    Less paid
67       CTS  21.000000   2934.0    Less paid
103      CTS  22.000000   2934.0    Less paid
139      CTS  22.000000   2934.0    Less paid
87       TCS  21.000000   3000.0    Less paid
15       TCS  23.000000   3000.0    Less paid
51       TCS  24.000000   3000.0    Less paid
3    Infosys  40.000000   3000.0    Less paid
14   Infosys  40.000000   3000.0    Less paid
39   Infosys  41.000000   3000.0    Less paid
50   Infosys  41.000000   3000.0    Less paid
86   Infosys  41.000000   3000.0    Less paid
75   Infosys  44.000000   3000.0    Less paid
88   Infosys   0.000000   3030.0    Less paid
52   Infosys  21.000000   3030.0    Less paid
16   Infosys  23.000000   3030.0    Less paid
138      CTS  44.000000   3033.0    Less paid
92       TCS   0.000000   3045.0    Less paid
128      TCS  33.000000   3045.0    Less paid
20       TCS  37.000000   3045.0    Less paid
56       TCS  38.000000   3045.0    Less paid
21   Infosys  50.000000   3184.0    Less paid
129  Infosys  50.000000   3184.0    Less paid
57   Infosys  51.000000   3184.0    Less paid
93   Infosys  54.000000   3184.0    Less paid
111  Infosys   0.000000   3234.0    Less paid
122  Infosys  44.000000   3234.0    Less paid
123      TCS  30.484615   3454.0    Less paid
4        TCS  23.000000   4000.0    Less paid
76       TCS  32.000000   4000.0    Less paid
68   Infosys  43.000000   4034.0    Less paid
104  Infosys  44.000000   4034.0    Less paid
140  Infosys  44.000000   4034.0    Less paid
32   Infosys  45.000000   4034.0    Less paid
112      TCS  22.000000   4324.0    Less paid
40       TCS  24.000000   4345.0    Less paid
22       TCS  21.000000   4824.0    Less paid
94       TCS  22.000000   4824.0    Less paid
58       TCS  23.000000   4824.0    Less paid
5    Infosys  30.484615   5000.0  Highly Paid
41   Infosys  30.484615   5000.0  Highly Paid
77   Infosys  30.484615   5000.0  Highly Paid
17       TCS  34.000000   5000.0  Highly Paid
53       TCS  35.000000   5000.0  Highly Paid
89       TCS  36.000000   5000.0  Highly Paid
126      TCS  20.000000   5009.0  Highly Paid
69       TCS  32.000000   5034.0  Highly Paid
105      TCS  33.000000   5034.0  Highly Paid
141      TCS  33.000000   5034.0  Highly Paid
33       TCS  36.000000   5034.0  Highly Paid
127  Infosys  30.000000   5098.0  Highly Paid
113  Infosys  30.484615   5435.0  Highly Paid
114      TCS  30.484615   5555.0  Highly Paid
125      TCS  33.000000   5654.0  Highly Paid
23   Infosys  30.484615   5835.0  Highly Paid
59   Infosys  30.484615   5835.0  Highly Paid
95   Infosys  30.484615   5835.0  Highly Paid
6        TCS  30.484615   6000.0  Highly Paid
42       TCS  30.484615   6000.0  Highly Paid
78       TCS  30.484615   6000.0  Highly Paid
64       TCS  25.000000   6543.0  Highly Paid
54       TCS  21.000000   6544.0  Highly Paid
7    Infosys  23.000000   7000.0  Highly Paid
43   Infosys  25.000000   7000.0  Highly Paid
79   Infosys  26.000000   7000.0  Highly Paid
24       TCS  30.484615   7084.0  Highly Paid
60       TCS  30.484615   7084.0  Highly Paid
96       TCS  30.484615   7084.0  Highly Paid
132      TCS  30.484615   7084.0  Highly Paid
55   Infosys  32.000000   7654.0  Highly Paid
30       CTS  46.000000   7654.0  Highly Paid
80       TCS  32.000000   8000.0  Highly Paid
8        TCS  34.000000   8000.0  Highly Paid
44       TCS  35.000000   8000.0  Highly Paid
70   Infosys  21.000000   8202.0  Highly Paid
106  Infosys  22.000000   8202.0  Highly Paid
142  Infosys  22.000000   8202.0  Highly Paid
34   Infosys  26.000000   8202.0  Highly Paid
134      TCS  31.000000   8345.0  Highly Paid
98       TCS  33.000000   8345.0  Highly Paid
26       TCS  34.000000   8345.0  Highly Paid
62       TCS  36.000000   8345.0  Highly Paid
115  Infosys  22.000000   8787.0  Highly Paid
116      TCS  33.000000   8787.0  Highly Paid
97   Infosys  22.000000   8943.0  Highly Paid
133      TCS  22.000000   8943.0  Highly Paid
25   Infosys  23.000000   8943.0  Highly Paid
61       TCS  25.000000   8943.0  Highly Paid
81       CTS  43.000000   9000.0  Highly Paid
9        CTS  45.000000   9000.0  Highly Paid
45       CTS  46.000000   9000.0  Highly Paid
107      TCS   0.000000   9024.0  Highly Paid
143      TCS  33.000000   9024.0  Highly Paid
71       TCS  34.000000   9024.0  Highly Paid
35       TCS  35.000000   9024.0  Highly Paid
135      CTS  40.000000   9284.0  Highly Paid
63       CTS  41.000000   9284.0  Highly Paid
99       CTS  44.000000   9284.0  Highly Paid
27       CTS  45.000000   9284.0  Highly Paid
28       CTS  23.000000   9876.0  Highly Paid
117      CTS  44.000000   9876.0  Highly Paid

In [98]:
df.sort_values(by=['Package','Age'],ascending=False)

     Company        Age  Package     Category
117      CTS  44.000000   9876.0  Highly Paid
28       CTS  23.000000   9876.0  Highly Paid
27       CTS  45.000000   9284.0  Highly Paid
99       CTS  44.000000   9284.0  Highly Paid
63       CTS  41.000000   9284.0  Highly Paid
135      CTS  40.000000   9284.0  Highly Paid
35       TCS  35.000000   9024.0  Highly Paid
71       TCS  34.000000   9024.0  Highly Paid
143      TCS  33.000000   9024.0  Highly Paid
107      TCS   0.000000   9024.0  Highly Paid
45       CTS  46.000000   9000.0  Highly Paid
9        CTS  45.000000   9000.0  Highly Paid
81       CTS  43.000000   9000.0  Highly Paid
61       TCS  25.000000   8943.0  Highly Paid
25   Infosys  23.000000   8943.0  Highly Paid
97   Infosys  22.000000   8943.0  Highly Paid
133      TCS  22.000000   8943.0  Highly Paid
116      TCS  33.000000   8787.0  Highly Paid
115  Infosys  22.000000   8787.0  Highly Paid
62       TCS  36.000000   8345.0  Highly Paid
26       TCS  34.000000   8345.0  Highly Paid
98       TCS  33.000000   8345.0  Highly Paid
134      TCS  31.000000   8345.0  Highly Paid
34   Infosys  26.000000   8202.0  Highly Paid
106  Infosys  22.000000   8202.0  Highly Paid
142  Infosys  22.000000   8202.0  Highly Paid
70   Infosys  21.000000   8202.0  Highly Paid
44       TCS  35.000000   8000.0  Highly Paid
8        TCS  34.000000   8000.0  Highly Paid
80       TCS  32.000000   8000.0  Highly Paid
30       CTS  46.000000   7654.0  Highly Paid
55   Infosys  32.000000   7654.0  Highly Paid
24       TCS  30.484615   7084.0  Highly Paid
60       TCS  30.484615   7084.0  Highly Paid
96       TCS  30.484615   7084.0  Highly Paid
132      TCS  30.484615   7084.0  Highly Paid
79   Infosys  26.000000   7000.0  Highly Paid
43   Infosys  25.000000   7000.0  Highly Paid
7    Infosys  23.000000   7000.0  Highly Paid
54       TCS  21.000000   6544.0  Highly Paid
64       TCS  25.000000   6543.0  Highly Paid
6        TCS  30.484615   6000.0  Highly Paid
42       TCS  30.484615   6000.0  Highly Paid
78       TCS  30.484615   6000.0  Highly Paid
23   Infosys  30.484615   5835.0  Highly Paid
59   Infosys  30.484615   5835.0  Highly Paid
95   Infosys  30.484615   5835.0  Highly Paid
125      TCS  33.000000   5654.0  Highly Paid
114      TCS  30.484615   5555.0  Highly Paid
113  Infosys  30.484615   5435.0  Highly Paid
127  Infosys  30.000000   5098.0  Highly Paid
33       TCS  36.000000   5034.0  Highly Paid
105      TCS  33.000000   5034.0  Highly Paid
141      TCS  33.000000   5034.0  Highly Paid
69       TCS  32.000000   5034.0  Highly Paid
126      TCS  20.000000   5009.0  Highly Paid
89       TCS  36.000000   5000.0  Highly Paid
53       TCS  35.000000   5000.0  Highly Paid
17       TCS  34.000000   5000.0  Highly Paid
5    Infosys  30.484615   5000.0  Highly Paid
41   Infosys  30.484615   5000.0  Highly Paid
77   Infosys  30.484615   5000.0  Highly Paid
58       TCS  23.000000   4824.0    Less paid
94       TCS  22.000000   4824.0    Less paid
22       TCS  21.000000   4824.0    Less paid
40       TCS  24.000000   4345.0    Less paid
112      TCS  22.000000   4324.0    Less paid
32   Infosys  45.000000   4034.0    Less paid
104  Infosys  44.000000   4034.0    Less paid
140  Infosys  44.000000   4034.0    Less paid
68   Infosys  43.000000   4034.0    Less paid
76       TCS  32.000000   4000.0    Less paid
4        TCS  23.000000   4000.0    Less paid
123      TCS  30.484615   3454.0    Less paid
122  Infosys  44.000000   3234.0    Less paid
111  Infosys   0.000000   3234.0    Less paid
93   Infosys  54.000000   3184.0    Less paid
57   Infosys  51.000000   3184.0    Less paid
21   Infosys  50.000000   3184.0    Less paid
129  Infosys  50.000000   3184.0    Less paid
56       TCS  38.000000   3045.0    Less paid
20       TCS  37.000000   3045.0    Less paid
128      TCS  33.000000   3045.0    Less paid
92       TCS   0.000000   3045.0    Less paid
138      CTS  44.000000   3033.0    Less paid
16   Infosys  23.000000   3030.0    Less paid
52   Infosys  21.000000   3030.0    Less paid
88   Infosys   0.000000   3030.0    Less paid
75   Infosys  44.000000   3000.0    Less paid
39   Infosys  41.000000   3000.0    Less paid
50   Infosys  41.000000   3000.0    Less paid
86   Infosys  41.000000   3000.0    Less paid
3    Infosys  40.000000   3000.0    Less paid
14   Infosys  40.000000   3000.0    Less paid
51       TCS  24.000000   3000.0    Less paid
15       TCS  23.000000   3000.0    Less paid
87       TCS  21.000000   3000.0    Less paid
103      CTS  22.000000   2934.0    Less paid
139      CTS  22.000000   2934.0    Less paid
67       CTS  21.000000   2934.0    Less paid
31       CTS  20.000000   2934.0    Less paid
74       TCS  37.000000   2300.0    Less paid
2        TCS  35.000000   2300.0    Less paid
38       TCS  34.000000   2300.0    Less paid
110      TCS  33.000000   2300.0    Less paid
29       CTS  35.000000   2034.0    Less paid
65       CTS  31.000000   2034.0    Less paid
137      CTS  31.000000   2034.0    Less paid
101      CTS   0.000000   2034.0    Less paid
49       CTS  19.000000   1234.0    Less paid
13       CTS  18.000000   1234.0    Less paid
85       CTS  17.000000   1234.0    Less paid
121      CTS   0.000000   1234.0    Less paid
12       CTS  45.000000   1111.0    Less paid
102      CTS  44.000000   1111.0    Less paid
120      CTS  44.000000   1111.0    Less paid
48       CTS  43.000000   1111.0    Less paid
66       CTS  41.000000   1111.0    Less paid
37       TCS  35.000000   1111.0    Less paid
73   Infosys  34.000000   1111.0    Less paid
91   Infosys  34.000000   1111.0    Less paid
108      TCS  33.000000   1111.0    Less paid
109      TCS  33.000000   1111.0    Less paid
19   Infosys  32.000000   1111.0    Less paid
36       TCS  32.000000   1111.0    Less paid
136      TCS  30.484615   1111.0    Less paid
1    Infosys  30.000000   1111.0    Less paid
46       CTS  24.000000   1111.0    Less paid
72       TCS  24.000000   1111.0    Less paid
10       CTS  23.000000   1111.0    Less paid
18       TCS  22.000000   1111.0    Less paid
82       CTS  22.000000   1111.0    Less paid
100      CTS  22.000000   1111.0    Less paid
118      CTS  22.000000   1111.0    Less paid
90       TCS  21.000000   1111.0    Less paid
0        TCS  20.000000   1111.0    Less paid
11       CTS  34.000000   1089.0    Less paid
83       CTS  33.000000   1089.0    Less paid
119      CTS  33.000000   1089.0    Less paid
47       CTS  32.000000   1089.0    Less paid

In [99]:
df.groupby('Company')['Package'].min()

Company
CTS        1089.0
Infosys    1111.0
TCS        1111.0
Name: Package, dtype: float64

In [100]:
df.groupby('Company')['Package'].max()

Company
CTS        9876.0
Infosys    8943.0
TCS        9024.0
Name: Package, dtype: float64

In [103]:
df.groupby(['Company','Category'])['Package'].min()

Company  Category
CTS      Highly Paid    7654.0
         Less paid      1089.0
Infosys  Highly Paid    5000.0
         Less paid      1111.0
TCS      Highly Paid    5000.0
         Less paid      1111.0
Name: Package, dtype: float64

In [104]:
df.groupby(['Company','Category'])['Package'].max()

Company  Category
CTS      Highly Paid    9876.0
         Less paid      3033.0
Infosys  Highly Paid    8943.0
         Less paid      4034.0
TCS      Highly Paid    9024.0
         Less paid      4824.0
Name: Package, dtype: float64

In [105]:
df

     Company        Age  Package     Category
0        TCS  20.000000   1111.0    Less paid
1    Infosys  30.000000   1111.0    Less paid
2        TCS  35.000000   2300.0    Less paid
3    Infosys  40.000000   3000.0    Less paid
4        TCS  23.000000   4000.0    Less paid
5    Infosys  30.484615   5000.0  Highly Paid
6        TCS  30.484615   6000.0  Highly Paid
7    Infosys  23.000000   7000.0  Highly Paid
8        TCS  34.000000   8000.0  Highly Paid
9        CTS  45.000000   9000.0  Highly Paid
10       CTS  23.000000   1111.0    Less paid
11       CTS  34.000000   1089.0    Less paid
12       CTS  45.000000   1111.0    Less paid
13       CTS  18.000000   1234.0    Less paid
14   Infosys  40.000000   3000.0    Less paid
15       TCS  23.000000   3000.0    Less paid
16   Infosys  23.000000   3030.0    Less paid
17       TCS  34.000000   5000.0  Highly Paid
18       TCS  22.000000   1111.0    Less paid
19   Infosys  32.000000   1111.0    Less paid
20       TCS  37.000000   3045.0    Less paid
21   Infosys  50.000000   3184.0    Less paid
22       TCS  21.000000   4824.0    Less paid
23   Infosys  30.484615   5835.0  Highly Paid
24       TCS  30.484615   7084.0  Highly Paid
25   Infosys  23.000000   8943.0  Highly Paid
26       TCS  34.000000   8345.0  Highly Paid
27       CTS  45.000000   9284.0  Highly Paid
28       CTS  23.000000   9876.0  Highly Paid
29       CTS  35.000000   2034.0    Less paid
30       CTS  46.000000   7654.0  Highly Paid
31       CTS  20.000000   2934.0    Less paid
32   Infosys  45.000000   4034.0    Less paid
33       TCS  36.000000   5034.0  Highly Paid
34   Infosys  26.000000   8202.0  Highly Paid
35       TCS  35.000000   9024.0  Highly Paid
36       TCS  32.000000   1111.0    Less paid
37       TCS  35.000000   1111.0    Less paid
38       TCS  34.000000   2300.0    Less paid
39   Infosys  41.000000   3000.0    Less paid
40       TCS  24.000000   4345.0    Less paid
41   Infosys  30.484615   5000.0  Highly Paid
42       TCS  30.484615   6000.0  Highly Paid
43   Infosys  25.000000   7000.0  Highly Paid
44       TCS  35.000000   8000.0  Highly Paid
45       CTS  46.000000   9000.0  Highly Paid
46       CTS  24.000000   1111.0    Less paid
47       CTS  32.000000   1089.0    Less paid
48       CTS  43.000000   1111.0    Less paid
49       CTS  19.000000   1234.0    Less paid
50   Infosys  41.000000   3000.0    Less paid
51       TCS  24.000000   3000.0    Less paid
52   Infosys  21.000000   3030.0    Less paid
53       TCS  35.000000   5000.0  Highly Paid
54       TCS  21.000000   6544.0  Highly Paid
55   Infosys  32.000000   7654.0  Highly Paid
56       TCS  38.000000   3045.0    Less paid
57   Infosys  51.000000   3184.0    Less paid
58       TCS  23.000000   4824.0    Less paid
59   Infosys  30.484615   5835.0  Highly Paid
60       TCS  30.484615   7084.0  Highly Paid
61       TCS  25.000000   8943.0  Highly Paid
62       TCS  36.000000   8345.0  Highly Paid
63       CTS  41.000000   9284.0  Highly Paid
64       TCS  25.000000   6543.0  Highly Paid
65       CTS  31.000000   2034.0    Less paid
66       CTS  41.000000   1111.0    Less paid
67       CTS  21.000000   2934.0    Less paid
68   Infosys  43.000000   4034.0    Less paid
69       TCS  32.000000   5034.0  Highly Paid
70   Infosys  21.000000   8202.0  Highly Paid
71       TCS  34.000000   9024.0  Highly Paid
72       TCS  24.000000   1111.0    Less paid
73   Infosys  34.000000   1111.0    Less paid
74       TCS  37.000000   2300.0    Less paid
75   Infosys  44.000000   3000.0    Less paid
76       TCS  32.000000   4000.0    Less paid
77   Infosys  30.484615   5000.0  Highly Paid
78       TCS  30.484615   6000.0  Highly Paid
79   Infosys  26.000000   7000.0  Highly Paid
80       TCS  32.000000   8000.0  Highly Paid
81       CTS  43.000000   9000.0  Highly Paid
82       CTS  22.000000   1111.0    Less paid
83       CTS  33.000000   1089.0    Less paid
85       CTS  17.000000   1234.0    Less paid
86   Infosys  41.000000   3000.0    Less paid
87       TCS  21.000000   3000.0    Less paid
88   Infosys   0.000000   3030.0    Less paid
89       TCS  36.000000   5000.0  Highly Paid
90       TCS  21.000000   1111.0    Less paid
91   Infosys  34.000000   1111.0    Less paid
92       TCS   0.000000   3045.0    Less paid
93   Infosys  54.000000   3184.0    Less paid
94       TCS  22.000000   4824.0    Less paid
95   Infosys  30.484615   5835.0  Highly Paid
96       TCS  30.484615   7084.0  Highly Paid
97   Infosys  22.000000   8943.0  Highly Paid
98       TCS  33.000000   8345.0  Highly Paid
99       CTS  44.000000   9284.0  Highly Paid
100      CTS  22.000000   1111.0    Less paid
101      CTS   0.000000   2034.0    Less paid
102      CTS  44.000000   1111.0    Less paid
103      CTS  22.000000   2934.0    Less paid
104  Infosys  44.000000   4034.0    Less paid
105      TCS  33.000000   5034.0  Highly Paid
106  Infosys  22.000000   8202.0  Highly Paid
107      TCS   0.000000   9024.0  Highly Paid
108      TCS  33.000000   1111.0    Less paid
109      TCS  33.000000   1111.0    Less paid
110      TCS  33.000000   2300.0    Less paid
111  Infosys   0.000000   3234.0    Less paid
112      TCS  22.000000   4324.0    Less paid
113  Infosys  30.484615   5435.0  Highly Paid
114      TCS  30.484615   5555.0  Highly Paid
115  Infosys  22.000000   8787.0  Highly Paid
116      TCS  33.000000   8787.0  Highly Paid
117      CTS  44.000000   9876.0  Highly Paid
118      CTS  22.000000   1111.0    Less paid
119      CTS  33.000000   1089.0    Less paid
120      CTS  44.000000   1111.0    Less paid
121      CTS   0.000000   1234.0    Less paid
122  Infosys  44.000000   3234.0    Less paid
123      TCS  30.484615   3454.0    Less paid
125      TCS  33.000000   5654.0  Highly Paid
126      TCS  20.000000   5009.0  Highly Paid
127  Infosys  30.000000   5098.0  Highly Paid
128      TCS  33.000000   3045.0    Less paid
129  Infosys  50.000000   3184.0    Less paid
132      TCS  30.484615   7084.0  Highly Paid
133      TCS  22.000000   8943.0  Highly Paid
134      TCS  31.000000   8345.0  Highly Paid
135      CTS  40.000000   9284.0  Highly Paid
136      TCS  30.484615   1111.0    Less paid
137      CTS  31.000000   2034.0    Less paid
138      CTS  44.000000   3033.0    Less paid
139      CTS  22.000000   2934.0    Less paid
140  Infosys  44.000000   4034.0    Less paid
141      TCS  33.000000   5034.0  Highly Paid
142  Infosys  22.000000   8202.0  Highly Paid
143      TCS  33.000000   9024.0  Highly Paid

In [106]:
df.to_csv(r'C:\Users\RaghulRamesh\OneDrive\Desktop\ETL\company_data.csv',index=False)